﻿<div class="panel-body">

    <div style="text-align:center">
        <h1 class="text-primary">
            Confirming your account...
        </h1>
        You should be redirected shortly.
        <hr />    
        <img src="/Content/images/logo.png" />
    </div>
    
</div>