﻿<div class="panel-body" ng-show="showAutoLogin" style="text-align:center;">
    <h1 style="text-align:center;" class="text-primary">
        <span>Logging you in...</span><br/><br/>
        <span class="glyphicon glyphicon-refresh glyphicon-spin" ng-show="loggingOn"></span>
    </h1>
    <br/><br/>
</div>

<form role="form" ng-submit="login()" ng-show="showLogin">
    <div class="panel-body">
        <div class="row row-padded" style="margin-bottom:25px;">
            <div class="col-xs-12 text-center">
                <img src="/Content/images/logo.png" />
            </div>
        </div>

        <div class="row row-padded">
            <div class="col-xs-12 col-sm-4 text-right-sm">
                <label style="line-height:39px;" for="userName">Email Address</label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5">
                <input class="form-control" type="email" id="userName" name="Email" size="30" data-ng-model="loginData.userName" required autofocus>
            </div>
        </div>
        <div class="row row-padded">
            <div class="col-xs-12 col-sm-4 text-right-sm">
                <label style="line-height:39px;" for="password">Password</label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5">
                <input class="form-control" size="30" id="password" name="password" autocomplete="off" type="password" data-ng-model="loginData.password" required>
            </div>
        </div>
        <hr />
        <div class="row row-padded">
            <div class="col-xs-12 col-sm-6 col-md-7 col-sm-push-4">
                <button class="btn btn-success" type="submit">
                    <span class="glyphicon glyphicon-log-in" ng-hide="loggingOn"></span>
                    <span class="glyphicon glyphicon-cog glyphicon-spin" ng-show="loggingOn"></span>
                    <span>Login</span>
                </button>
                <a href="#/lost-password" style="vertical-align:middle;">Forgot your password?</a>
            </div>
        </div>

    </div>
    <div class="panel-footer">Don't have access yet? <a href="#/signup">Click here</a> to try Divine Forms for free.</div>
</form>