﻿<div class="panel-body">

    <div style="text-align:center">
        <h1 class="text-primary">
            Forgot your password?
        </h1>
        No worries, just enter your email address below and we'll get that sorted out for you.
        <hr />    
        <form ng-submit="sendRecoveryEmail()" ng-hide="emailSent">
            <div class="row row-padded">
                <div class="col-xs-push-0 col-sm-push-3 col-lg-push-4 col-xs-12 col-sm-6 col-lg-4 form-group">
                    <input type="email" data-ng-model="email" class="form-control" size="30" required autofocus />
                </div>
            </div>
            <div class="row row-padded">
                <div class="col-xs-push-0 col-sm-push-3 col-lg-push-4 col-xs-12 col-sm-6 col-lg-4 form-group">
                    <button style="width:100%" class="btn btn-primary" type="submit">
                        <span class="glyphicons glyphicons-refresh" ng-hide="saving"></span>
                        <span class="glyphicon glyphicon-cog glyphicon-spin" ng-show="saving"></span>
                        <span>Recover</span>
                    </button>
                </div>
            </div>
        </form>
        <div class="alert alert-warning" ng-show="emailSent">
            <h4>Recovery Email Sent</h4>
            <p>Please check your email for an account recovery link.</p>
        </div>
    </div>
    
    
</div>