﻿<div class="panel-body">
    <div style="text-align:center">
        <h1 class="text-primary">
            Recover your account
        </h1>
        Just enter a new password below to get back to work.
    </div>
    <hr />
    <form role="form" ng-submit="resetPassword()" ng-hide="registered">
        <div class="row row-padded">
            <div class="col-xs-12 col-sm-4 text-right-sm">
                <label style="line-height:39px;" for="newPassword">New Password</label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5">
                <input class="form-control" size="30" id="newPassword" name="newPassword" autocomplete="off" type="password" data-ng-model="recovery.newPassword" required>
            </div>
        </div>
        <div class="row row-padded">
            <div class="col-xs-12 col-sm-4 text-right-sm">
                <label style="line-height:39px;" for="confirmPassword">Confirm Password</label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5">
                <input class="form-control" size="30" id="confirmPassword" name="confirmPassword" autocomplete="off" type="password" data-ng-model="recovery.confirmPassword" required>
            </div>
        </div>
        <hr />
        <div class="row row-padded">
            <div class="col-xs-12 col-sm-6 col-md-7 col-sm-push-4">
                <button class="btn btn-success" type="submit">
                    <span class="glyphicons glyphicons-restart" ng-hide="saving"></span>
                    <span class="glyphicon glyphicon-cog glyphicon-spin" ng-show="saving"></span>
                    <span>Reset Password</span>
                </button>
            </div>
        </div>
    </form>
</div>