﻿<div class="panel-body">
    <div style="text-align:center">
        <h1 class="text-primary">
            Get divinely simple real estate forms and signing.
        </h1>
        You can begin your free trial in a less than minute.
    </div>
    <hr />
    <form role="form" ng-submit="signUp()" ng-hide="registered">
        <div class="row row-padded">
            <div class="col-xs-12 col-sm-4 text-right-sm">
                <label style="line-height:39px;" for="userName">Email Address</label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5">
                <input class="form-control" type="email" id="userName" name="Email" size="30" data-ng-model="registration.userName" required autofocus>
            </div>
        </div>
        <div class="row row-padded">
            <div class="col-xs-12 col-sm-4 text-right-sm">
                <label style="line-height:39px;" for="password">Password</label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5">
                <input class="form-control" size="30" id="password" name="password" autocomplete="off" type="password" data-ng-model="registration.password" required>
            </div>
        </div>
        <div class="row row-padded">
            <div class="col-xs-12 col-sm-4 text-right-sm">
                <label style="line-height:39px;" for="confirmPassword">Confirm Password</label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5">
                <input class="form-control" size="30" id="confirmPassword" name="confirmPassword" autocomplete="off" type="password" data-ng-model="registration.confirmPassword" required>
            </div>
        </div>
        <hr />
        <div class="row row-padded">
            <div class="col-xs-12 col-sm-6 col-md-7 col-sm-push-4">
                <button class="btn btn-success" type="submit">
                    <span class="glyphicons glyphicons-flag" ng-hide="saving"></span>
                    <span class="glyphicon glyphicon-cog glyphicon-spin" ng-show="saving"></span>
                    <span>Begin Trial</span>
                </button>
            </div>
        </div>
    </form>
    <div class="alert alert-warning" ng-show="registered">
        <h4>Registration Successful</h4>
        <p>Please check your email for an account confirmation link.</p>
    </div>
</div>