﻿<div class="well well-sm">
    <div class="form-group">
        <label for="recipient">Choose a recipient:</label>
        <select class="form-control" id="recipient" name="recipient" data-ng-options="p as p.lastName + ', ' + p.firstName + ' (' + p.roleName + ')' for p in getPeople()" data-ng-model="signerData.signer" ng-change="recipientSelected()">

        </select>
    </div>
    <div class="form-group">
        <label for="recipientEmail">Recipient's e-mail address:</label>
        <input class="form-control form-control-static" type="email" name="recipientEmail" id="recipientEmail" data-ng-model="signatureRequest.signerEmail" required />
    </div>
    <p>
        <button type="submit" class="btn btn-success btn">
            <span ng-hide="signatureRequest.signerEmail === authentication.userName || sending" class="glyphicons glyphicons-send"></span>
            <span ng-hide="signatureRequest.signerEmail !== authentication.userName || sending" class="glyphicons glyphicons-pen"></span>
            <span class="glyphicon glyphicon-cog glyphicon-spin" ng-show="sending"></span>
            <span ng-hide="signatureRequest.signerEmail === authentication.userName">Send Request</span>
            <span ng-show="signatureRequest.signerEmail === authentication.userName">Sign Now</span>
        </button>
    </p>
    <div class="alert alert-info">
        <p>
            <strong class="glyphicons glyphicons-star"></strong>
            <strong style="vertical-align:middle">Sending Guidelines</strong>
        </p>
        <span style="font-weight:400">
            <ol style="padding-top:10px;">
                <li>Enter the recipient's e-mail address carefully. We use it to provide the signer with a unique sign-in link.</li>
                <li>Enter your own e-mail ({{authentication.userName}}) to sign instantly.</li>
                <li>We respect your privacy and the privacy of your clients. We will not share anything you enter here with any other party. Information will only be used to properly identify the signer.</li>
            </ol>
        </span>
    </div>
</div>