﻿<h2 class="text-primary">Addenda, Riders &amp; Disclosures</h2>
<p>Use the form below to attach any relevant documents or supply additional terms or conditions for this Agreement.</p>

<h2 class="text-primary">Attached Documents</h2>

<div class="form-group">
    <label for="documentTypes">Add a document:</label>
    <select class="form-control" id="documentTypes" data-ng-model="supplementalFields.documentType">
        <option value="topmostSubform[0].Page8[0].Condominium_Rider[0]">Condominium Rider</option>
        <option value="topmostSubform[0].Page8[0].Homeowners_AssociationCommunity_Disclosure[0]">Homeowners' Association/Community Disclosure</option>
        <option value="topmostSubform[0].Page8[0].LeadBased_Paint_Disclosure_Form_for_pre1978_homes[0]">Lead-Based Paint Disclosure Form (for pre-1978 homes)</option>
        <option value="topmostSubform[0].Page8[0].Coastal_Construction_Control_Line_Disclosure[0]">Coastal Construction Control Line Disclosure</option>
        <option value="topmostSubform[0].Page8[0].Short_Sale_Addendum[0]">Short Sale Addendum</option>
        <option value="topmostSubform[0].Page8[0].USDA_Financing_Addendum[0]">USDA Financing Addendum</option>
        <option value="topmostSubform[0].Page8[0].For_Your_Protection_Get_a_Home_Inspection_for_FHA_Financing[0]">For Your Protection: Get a Home Inspection (for FHA Financing)</option>
        <option value="topmostSubform[0].Page8[0].Other_Specify_here[0]">Other (Specify below):</option>
    </select>
</div>
<div class="form-group" ng-show="supplementalFields.documentType == 'topmostSubform[0].Page8[0].Other_Specify_here[0]'">
    <input type="text" id="ADDITIONAL_TERMS_AND_CONDITIONS" data-ng-model="getFormField('topmostSubform[0].Page8[0].ADDITIONAL_TERMS_AND_CONDITIONS[0]').fieldValue" class="form-control" />
</div>
<h2 class="text-primary">
    <label for="additional_terms_conditions">Additional Terms &amp; Conditions</label>
</h2>
<div class="form-group">
    <textarea id="additional_terms_conditions" class="form-control" data-ng-model="getFormField('topmostSubform[0].Page8[0].additional_terms_conditions[0]').fieldValue" rows="9"></textarea>
</div>
<hr />
<p class="text-right">
    <button type="button" class="btn btn-warning" style="float:left" ng-click="goBack()">
        <span class="glyphicons glyphicons-left-arrow"></span>
        <span>Go Back</span>
    </button>
    <button type="button" class="btn btn-warning" ng-click="goNext()">
        <span>Next: Time of Acceptance</span>
        <span class="glyphicons glyphicons-right-arrow"></span>
    </button>
</p>