﻿<h2 class="text-primary">Selling Broker (Buyer's Agent)</h2>
<div class="form-group">
    <label for="buyerAgentBrokerageFirm">Brokerage Firm</label>
    <input id="buyerAgentBrokerageFirm" class="form-control" type="text" data-ng-model="getFormField('topmostSubform[0].Page9[0].Firm_Name_of_Selling_Broker[0]').fieldValue" />
</div>
<div class="form-group">
    <label for="buyerBrokerPhone">Brokerage Phone</label>
    <div class="input-group">
        <div class="input-group-addon">
            <span class="glyphicons glyphicons-earphone"></span>
        </div>
        <input class="form-control" type="tel" name="buyerBrokerPhone" id="buyerBrokerPhone" data-ng-model="getFormField('topmostSubform[0].Page9[0].Phone_for_Selling_Broker[0]').fieldValue" />
    </div>
</div>
<div class="form-group">
    <label for="buyerAgentName">Agent Name</label>
    <input id="buyerAgentName" class="form-control" type="text" data-ng-model="getFormField('topmostSubform[0].Page9[0].Printed_Name_of_Licensee_2[0]').fieldValue" />
</div>
<div class="form-group">
    <label for="buyerAgentPhone">Agent Phone</label>
    <div class="input-group">
        <div class="input-group-addon">
            <span class="glyphicons glyphicons-earphone"></span>
        </div>
        <input class="form-control" type="tel" name="buyerAgentPhone" id="buyerAgentPhone" data-ng-model="getFormField('topmostSubform[0].Page9[0].Phone_for_Selling_Licensee[0]').fieldValue" />
    </div>
</div>

<h2 class="text-primary">Listing Broker (Seller's Agent)</h2>
<div class="form-group">
    <label for="sellerAgentBrokerageFirm">Brokerage Firm</label>
    <input id="sellerAgentBrokerageFirm" class="form-control" type="text" data-ng-model="getFormField('topmostSubform[0].Page9[0].Firm_Name_of_Listing_Broker[0]').fieldValue" />
</div>
<div class="form-group">
    <label for="sellerBrokerPhone">Brokerage Phone</label>
    <div class="input-group">
        <div class="input-group-addon">
            <span class="glyphicons glyphicons-earphone"></span>
        </div>
        <input class="form-control" type="tel" name="sellerBrokerPhone" id="sellerBrokerPhone" data-ng-model="getFormField('topmostSubform[0].Page9[0].Phone_for_Listing_Broker[0]').fieldValue" />
    </div>
</div>
<div class="form-group">
    <label for="sellerAgentName">Agent Name</label>
    <input id="sellerAgentName" class="form-control" type="text" data-ng-model="getFormField('topmostSubform[0].Page9[0].Printed_Name_of_Licensee[0]').fieldValue" />
</div>
<div class="form-group">
    <label for="sellerAgentPhone">Agent Phone</label>
    <div class="input-group">
        <div class="input-group-addon">
            <span class="glyphicons glyphicons-earphone"></span>
        </div>
        <input class="form-control" type="tel" name="sellerAgentPhone" id="sellerAgentPhone" data-ng-model="getFormField('topmostSubform[0].Page9[0].Phone_for_Listing_Licensee[0]').fieldValue" />
    </div>
</div>

<h2 class="text-primary">Escrow Agent (if any)</h2>
<div class="form-group">
    <label for="escrowAgentName">Name</label>
    <input id="escrowAgentName" class="form-control" type="text" data-ng-model="getFormField('topmostSubform[0].Page1[0].escrow_agent_name[0]').fieldValue" />
</div>
<div class="form-group">
    <label for="escrowAgentAddress">Address, City, State &amp; ZIP Code</label>
    <input id="escrowAgentAddress" class="form-control" type="text" data-ng-model="getFormField('topmostSubform[0].Page1[0].escrow_agent_address[0]').fieldValue" />
</div>
<div class="form-group">
    <label for="escrowAgentPhone">Phone</label>
    <div class="input-group">
        <div class="input-group-addon">
            <span class="glyphicons glyphicons-earphone"></span>
        </div>
        <input class="form-control" type="tel" name="escrowAgentPhone" id="escrowAgentPhone" data-ng-model="getFormField('topmostSubform[0].Page1[0].escrow_agent_phone[0]').fieldValue" />
    </div>
</div>
<div class="form-group">
    <label for="escrowAgentFax">Fax</label>
    <div class="input-group">
        <div class="input-group-addon">
            <span class="glyphicons glyphicons-fax"></span>
        </div>
        <input class="form-control" type="tel" name="escrowAgentFax" id="escrowAgentFax" data-ng-model="getFormField('topmostSubform[0].Page1[0].escrow_agent_fax[0]').fieldValue" />
    </div>
</div>
<div class="form-group">
    <label for="escrowAgentEmail">Email</label>
    <div class="input-group">
        <div class="input-group-addon">
            <span class="glyphicons glyphicons-envelope"></span>
        </div>
        <input class="form-control" type="email" name="escrowAgentEmail" id="escrowAgentEmail" data-ng-model="getFormField('topmostSubform[0].Page1[0].escrow_agent_email[0]').fieldValue" />
    </div>
</div>
<hr />
<h2 class="text-primary">Broker Holding Binder (if any)</h2>
<div class="form-group">
    <label for="binderBrokerCompany">Company</label>
    <input id="binderBrokerCompany" class="form-control" type="text" data-ng-model="getFormField('topmostSubform[0].Page9[0].Company[0]').fieldValue" />
</div>
<div class="form-group">
    <label for="binderBrokerTitle">Title (line 479)</label>
    <input id="binderBrokerTitle" class="form-control" type="text" data-ng-model="getFormField('topmostSubform[0].Page9[0].Title[0]').fieldValue" />
</div>
<hr />
<p class="text-right">
    <button type="button" class="btn btn-warning" style="float:left" ng-click="goBack()">
        <span class="glyphicons glyphicons-left-arrow"></span>
        <span>Go Back</span>
    </button>
    <button type="button" class="btn btn-warning" ng-click="goNext()">
        <span>Next: Purchase Price</span>
        <span class="glyphicons glyphicons-right-arrow"></span>
    </button>
</p>