﻿<h2 class="text-primary">Buyer Will Pay</h2>
<div class="row">
    <div class="col-xs-12 col-md-6 form-group">
        <label for="buyerPayRecordingFees">
            <input type="checkbox" id="buyerPayRecordingFees" ng-model="getFormField('topmostSubform[0].Page4[0].Recording_fees[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Recording Fees
        </label>
    </div>
    <div class="col-xs-12 col-md-6 form-group">
        <label for="buyerPayClosingAttorneySettlementFee">
            <input type="checkbox" id="buyerPayClosingAttorneySettlementFee" ng-model="getFormField('topmostSubform[0].Page4[0].Closing_attorneysettlement_fee[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Closing attorney/settlement fee
        </label>
    </div>
</div><div class="row">
    <div class="col-xs-12 col-md-6 form-group">
        <label for="buyerPayIntangibleTax">
            <input type="checkbox" id="buyerPayIntangibleTax" ng-model="getFormField('topmostSubform[0].Page4[0].Intangible_tax[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Intangible tax
        </label>
    </div>
    <div class="col-xs-12 col-md-6 form-group">
        <label for="buyerPayBuyerCourierFees">
            <input type="checkbox" id="buyerPayBuyerCourierFees" ng-model="getFormField('topmostSubform[0].Page4[0].BUYERs_courier_fees[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            BUYER's courier fees
        </label>
    </div>
</div><div class="row">
    <div class="col-xs-12 col-md-6 form-group">
        <label for="buyerPayNoteStamps">
            <input type="checkbox" id="buyerPayNoteStamps" ng-model="getFormField('topmostSubform[0].Page4[0].Note_stamps[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Note stamps
        </label>
    </div>
    <div class="col-xs-12 col-md-6 form-group">
        <label for="buyerPayAdjusted_mortgage_origination_charges">
            <input type="checkbox" id="buyerPayAdjusted_mortgage_origination_charges" ng-model="getFormField('topmostSubform[0].Page4[0].Adjusted_mortgage_origination_charges[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Adjusted mortgage origination charges
        </label>
    </div>
</div><div class="row">
    <div class="col-xs-12 col-md-6 form-group">
        <label for="buyerPaySimultaneous_mortgagee_title_insurance_policy">
            <input type="checkbox" id="buyerPaySimultaneous_mortgagee_title_insurance_policy" ng-model="getFormField('topmostSubform[0].Page4[0].Simultaneous_mortgagee_title_insurance_policy[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Simultaneous mortgagee title insurance policy
        </label>
    </div>
    <div class="col-xs-12 col-md-6 form-group">
        <label for="buyerPayMortgage_insurance_premium">
            <input type="checkbox" id="buyerPayMortgage_insurance_premium" ng-model="getFormField('topmostSubform[0].Page4[0].Mortgage_insurance_premium[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Mortgage insurance premium
        </label>
    </div>
</div><div class="row">
    <div class="col-xs-12 col-md-6 form-group">
        <label for="buyerPayTitle_insurance_endorsements">
            <input type="checkbox" id="buyerPayTitle_insurance_endorsements" ng-model="getFormField('topmostSubform[0].Page4[0].Title_insurance_endorsements[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Title insurance endorsements
        </label>
    </div>
    <div class="col-xs-12 col-md-6 form-group">
        <label for="Mortgage_discount_not_to_exceed">
            <input type="checkbox" id="Mortgage_discount_not_to_exceed" ng-model="getFormField('topmostSubform[0].Page4[0].Mortgage_discount_not_to_exceed[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Mortgage discount not to exceed:
        </label>
        <input class="form-control" type="text" id="mortgage_discount_not_to_exceed_amount" ng-model="getFormField('topmostSubform[0].Page4[0].mortgage_discount_not_to_exceed_amount[0]').fieldValue" />
    </div>
</div><div class="row">
    <div class="col-xs-12 col-md-6 form-group">
        <label for="buyerPayWooddestroying_organism_report">
            <input type="checkbox" id="buyerPayWooddestroying_organism_report" ng-model="getFormField('topmostSubform[0].Page4[0].Wooddestroying_organism_report[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Wood-destroying organism report
        </label>
    </div>
    <div class="col-xs-12 col-md-6 form-group">
        <label for="buyerPayAppraisalFee">
            <input type="checkbox" id="buyerPayAppraisalFee" ng-model="getFormField('topmostSubform[0].Page4[0].Appraisal_fee[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Appraisal fee
        </label>
    </div>
</div><div class="row">
    <div class="col-xs-12 col-md-6 form-group">
        <label for="Lenders_flood_certification_fees">
            <input type="checkbox" id="Lenders_flood_certification_fees" ng-model="getFormField('topmostSubform[0].Page4[0].Lenders_flood_certification_fees[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Lender's flood certification fees
        </label>
    </div>
    <div class="col-xs-12 col-md-6 form-group">
        <label for="Credit_report_s">
            <input type="checkbox" id="Credit_report_s" ng-model="getFormField('topmostSubform[0].Page4[0].Credit_report_s[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Credit report(s)
        </label>
    </div>
</div><div class="row">
    <div class="col-xs-12 col-md-6 form-group">
        <label for="Tax_service_fee">
            <input type="checkbox" id="Tax_service_fee" ng-model="getFormField('topmostSubform[0].Page4[0].Tax_service_fee[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Tax service fee
        </label>
    </div>
    <div class="col-xs-12 col-md-6 form-group">
        <label for="Mortgage_transfer_and_assumption_charges">
            <input type="checkbox" id="Mortgage_transfer_and_assumption_charges" ng-model="getFormField('topmostSubform[0].Page4[0].Mortgage_transfer_and_assumption_charges[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Mortgage transfer and assumption charges
        </label>
    </div>
</div><div class="row">
    <div class="col-xs-12 col-md-6 form-group">
        <label for="inspection_and_reinspection_fees">
            <input type="checkbox" id="inspection_and_reinspection_fees" ng-model="getFormField('topmostSubform[0].Page4[0].inspection_and_reinspection_fees[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Inspection and reinspection fees
        </label>
    </div>
    <div class="col-xs-12 col-md-6 form-group">
        <label for="Title_search">
            <input type="checkbox" id="Title_search" ng-model="getFormField('topmostSubform[0].Page4[0].Title_search[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Title search
        </label>
    </div>
</div><div class="row">
    <div class="col-xs-12 col-md-6 form-group">
        <label for="Real_estate_brokerage_fee">
            <input type="checkbox" id="Real_estate_brokerage_fee" ng-model="getFormField('topmostSubform[0].Page4[0].Real_estate_brokerage_fee[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Real estate brokerage fee:
        </label>
        <input class="form-control" type="text" id="real_estate_brokerage_fee_amount" ng-model="getFormField('topmostSubform[0].Page4[0].real_estate_brokerage_fee_amount[0]').fieldValue" />
    </div>
    <div class="col-xs-12 col-md-6 form-group">
        <label for="VA_funding_fee">
            <input type="checkbox" id="VA_funding_fee" ng-model="getFormField('topmostSubform[0].Page4[0].VA_funding_fee[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            VA funding fee
        </label>
    </div>
</div><div class="row">
    <div class="col-xs-12 col-md-6 form-group">
        <label for="Survey">
            <input type="checkbox" id="Survey" ng-model="getFormField('topmostSubform[0].Page4[0].Survey[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Survey
        </label>
    </div>
    <div class="col-xs-12 col-md-6 form-group">
        <label for="One_year_home_warranty">
            <input type="checkbox" id="One_year_home_warranty" ng-model="getFormField('topmostSubform[0].Page4[0].One_year_home_warranty[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            One year home warranty:
        </label>
        <input class="form-control" type="text" id="one_year_home_warranty_description" ng-model="getFormField('topmostSubform[0].Page4[0].one_year_home_warranty_description[0]').fieldValue" />
    </div>
</div><div class="row">
    <div class="col-xs-12 form-group">
        <label for="Other">
            <input type="checkbox" id="Other" ng-model="getFormField('topmostSubform[0].Page4[0].Other[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Other
        </label>
        <input class="form-control" type="text" id="other_description" ng-model="getFormField('topmostSubform[0].Page4[0].other_description[0]').fieldValue" />
    </div>
</div>
<hr />
<p class="text-right">
    <button type="button" class="btn btn-warning" style="float:left" ng-click="goBack()">
        <span class="glyphicons glyphicons-left-arrow"></span>
        <span>Go Back</span>
    </button>
    <button type="button" class="btn btn-warning" ng-click="goNext()">
        <span>Next: Seller Will Pay</span>
        <span class="glyphicons glyphicons-right-arrow"></span>
    </button>
</p>