﻿<h2 class="text-primary">Buyer/Seller</h2>
<div class="form-group">
    <label for="buyerNames">Buyer(s) Name(s)</label>
    <input id="buyerNames" class="form-control" type="text" data-ng-model="getFormField('topmostSubform[0].Page1[0].buyer[0]').fieldValue" />
</div>
<div class="form-group">
    <label for="sellerNames">Seller(s) Name(s)</label>
    <input id="sellerNames" class="form-control" type="text" data-ng-model="getFormField('topmostSubform[0].Page1[0].seller[0]').fieldValue" />
</div>
<hr />
<h2 class="text-primary">Property</h2>
<div class="form-group">
    <label for="addressCityZIP">Street Address, City, ZIP Code</label>
    <input id="addressCityZIP" class="form-control" type="text" data-ng-model="getFormField('topmostSubform[0].Page1[0].property_street_city_zip[0]').fieldValue" />
</div>
<div class="form-group">
    <label for="county">County</label>
    <input id="county" class="form-control" type="text" data-ng-model="getFormField('topmostSubform[0].Page1[0].property_county[0]').fieldValue" />
</div>
<div class="form-group">
    <label for="taxID">Tax ID</label>
    <input id="taxID" class="form-control" type="text" data-ng-model="getFormField('topmostSubform[0].Page1[0].property_tax_id[0]').fieldValue" />
</div>
<div class="form-group">
    <label for="legalDescription">Legal Description</label>
    <textarea id="legalDescription" class="form-control" data-ng-model="getFormField('topmostSubform[0].Page1[0].property_legal_description[0]').fieldValue" rows="2"></textarea>
</div>
<hr />
<p class="text-right">
    <button type="button" class="btn btn-warning" ng-click="goNext()">
        <span>Next: Brokers &amp; Agents</span>
        <span class="glyphicon glyphicon-cog glyphicon-spin" ng-show="savingSection"></span>
        <span class="glyphicons glyphicons-right-arrow" ng-hide="savingSection"></span>
    </button>
</p>