﻿<h2 class="text-primary">Financing Information</h2>
<div class="form-group">
    <label for="financingOption">How does the buyer intend to finance this transaction?</label>
    <select class="form-control" id="financingOption" data-ng-model="supplementalFields.financingOption" ng-change="financingOptionChanged()">
        <option value="topmostSubform[0].Page1[0].cash_transaction[0]">Cash Transaction</option>
        <option value="topmostSubform[0].Page1[0].loan_without_financing_contingency[0]">Loan</option>
        <option value="topmostSubform[0].Page1[0].loan_as_marked_below_with_financing_contingency[0]">Loan w/ Contingency</option>
    </select>
</div>
<div data-ng-show="supplementalFields.financingOption === 'topmostSubform[0].Page1[0].loan_as_marked_below_with_financing_contingency[0]'" class="form-group">
    <label for="loanType">Choose the type of loan.</label>
    <select class="form-control" id="loanType" data-ng-model="supplementalFields.loanType" ng-change="loanTypeChanged()">
        <option value="topmostSubform[0].Page2[0].fha[0]">FHA</option>
        <option value="topmostSubform[0].Page2[0].va[0]">VA</option>
        <option value="topmostSubform[0].Page2[0].conventional_or_usda[0]">Conventional or USDA Financing</option>
        <option value="topmostSubform[0].Page2[0].other_financing[0]">Other Financing</option>
    </select>
</div>
<div data-ng-show="supplementalFields.loanType === 'topmostSubform[0].Page2[0].fha[0]'" class="form-group">
    <label for="minimumFhaValue">Minimum FHA property value</label>
    <input id="minimumFhaValue" class="form-control" type="text" data-ng-model="getFormField('topmostSubform[0].Page2[0].have_the_privilege_and_option_of_proceeding_with_consummation_of_this_Contract_without_regard_to_the[0]').fieldValue" />
</div>
<div data-ng-show="supplementalFields.loanType === 'topmostSubform[0].Page2[0].other_financing[0]'" class="form-group">
    <label for="otherFinancingType">Choose the type of other financing.</label>
    <select class="form-control" id="otherFinancingType" data-ng-model="supplementalFields.otherFinancingType">
        <option value="topmostSubform[0].Page2[0].mortgage_assumption[0]">Mortgage Assumption</option>
        <option value="topmostSubform[0].Page2[0].seller_financing[0]">Seller Financing</option>
    </select>
</div>
<h2 class="text-primary">Application</h2>
<div class="form-group">
    <label for="applyWithinDays">Number of days the buyer has to apply for financing after acceptance of the contract (5 if left blank)</label>
    <input id="applyWithinDays" class="form-control" type="text" data-ng-model="getFormField('topmostSubform[0].Page2[0].loan_application_within[0]').fieldValue" />
</div>
<div class="form-group">
    <label for="loanApprovalPeriod">Loan Approval Period (in days, 45 if left blank)</label>
    <input id="loanApprovalPeriod" class="form-control" type="text" data-ng-model="getFormField('topmostSubform[0].Page2[0].loan_approval_period_days[0]').fieldValue" />
</div>
<hr />
<p class="text-right">
    <button type="button" class="btn btn-warning" style="float:left" ng-click="goBack()">
        <span class="glyphicons glyphicons-left-arrow"></span>
        <span>Go Back</span>
    </button>
    <button type="button" class="btn btn-warning" ng-click="goNext()">
        <span>Next: Title Examination &amp; Date of Closing</span>
        <span class="glyphicons glyphicons-right-arrow"></span>
    </button>
</p>