﻿<h2 class="text-primary">Personal Property</h2>
<p>Check all items that are for sale and included in the purchase price.</p>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
        <label for="Refrigerator">
            <input type="checkbox" id="Refrigerator" ng-model="getFormField('topmostSubform[0].Page7[0].Refrigerator[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Refrigerator
        </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
        <label for="Smoke_detectors">
            <input type="checkbox" id="Smoke_detectors" ng-model="getFormField('topmostSubform[0].Page7[0].Smoke_detectors[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Smoke detector(s)
        </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
        <label for="Pool_fencebarrier">
            <input type="checkbox" id="Pool_fencebarrier" ng-model="getFormField('topmostSubform[0].Page7[0].Pool_fencebarrier[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Pool fence/barrier
        </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
        <label for="Mountedinstalled_speakers">
            <input type="checkbox" id="Mountedinstalled_speakers" ng-model="getFormField('topmostSubform[0].Page7[0].Mountedinstalled_speakers[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Mounted/installed speakers
        </label>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
        <label for="Washer">
            <input type="checkbox" id="Washer" ng-model="getFormField('topmostSubform[0].Page7[0].Washer[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Washer
        </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
        <label for="Windowwall_ac">
            <input type="checkbox" id="Windowwall_ac" ng-model="getFormField('topmostSubform[0].Page7[0].Windowwall_ac[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Window/wall a/c
        </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
        <label for="Pool_Sweep">
            <input type="checkbox" id="Pool_Sweep" ng-model="getFormField('topmostSubform[0].Page7[0].Pool_Sweep[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Pool Sweep
        </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
        <label for="Water_softenertreatment_system">
            <input type="checkbox" id="Water_softenertreatment_system" ng-model="getFormField('topmostSubform[0].Page7[0].Water_softenertreatment_system[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Water softener/treatment system
        </label>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
        <label for="Dryer">
            <input type="checkbox" id="Dryer" ng-model="getFormField('topmostSubform[0].Page7[0].Dryer[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Dryer
        </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
        <label for="Builtin_Generator">
            <input type="checkbox" id="Builtin_Generator" ng-model="getFormField('topmostSubform[0].Page7[0].Builtin_Generator[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Built-in Generator
        </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
        <label for="Above_Ground_Pool">
            <input type="checkbox" id="Above_Ground_Pool" ng-model="getFormField('topmostSubform[0].Page7[0].Above_Ground_Pool[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Above Ground Pool
        </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
        <label for="Storm_shutters_and_panels">
            <input type="checkbox" id="Storm_shutters_and_panels" ng-model="getFormField('topmostSubform[0].Page7[0].Storm_shutters_and_panels[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Storm shutters and panels
        </label>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
        <label for="Gas_logs">
            <input type="checkbox" id="Gas_logs" ng-model="getFormField('topmostSubform[0].Page7[0].Gas_logs[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Gas logs
        </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
        <label for="Wine_cooler">
            <input type="checkbox" id="Wine_cooler" ng-model="getFormField('topmostSubform[0].Page7[0].Wine_cooler[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Wine cooler
        </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
        <label for="Storage_Shed">
            <input type="checkbox" id="Storage_Shed" ng-model="getFormField('topmostSubform[0].Page7[0].Storage_Shed[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Storage Shed
        </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
        <label for="Spa_or_hot_tub_with_heater">
            <input type="checkbox" id="Spa_or_hot_tub_with_heater" ng-model="getFormField('topmostSubform[0].Page7[0].Spa_or_hot_tub_with_heater[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Spa or hot tub with heater
        </label>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
        <label for="Trash_Compactor">
            <input type="checkbox" id="Trash_Compactor" ng-model="getFormField('topmostSubform[0].Page7[0].Trash_Compactor[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Trash Compactor
        </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
        <label for="Microwave_Oven">
            <input type="checkbox" id="Microwave_Oven" ng-model="getFormField('topmostSubform[0].Page7[0].Microwave_Oven[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Microwave Oven
        </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
        <label for="Intercom">
            <input type="checkbox" id="Intercom" ng-model="getFormField('topmostSubform[0].Page7[0].Intercom[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Intercom
        </label>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group">
        <label for="Other_specify">
            <input type="checkbox" id="Other_specify" ng-model="getFormField('topmostSubform[0].Page8[0].Other_specify[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Other (specify):
        </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9 form-group">
        <textarea id="other_personal_property_list" class="form-control" data-ng-model="getFormField('topmostSubform[0].Page8[0].other_personal_property_list[0]').fieldValue" rows="2"></textarea>
    </div>
</div>

<div class="form-group">
    <label for="property_excluded">Items specifically excluded from this Agreement:</label>
    <textarea id="property_excluded" class="form-control" data-ng-model="getFormField('topmostSubform[0].Page8[0].property_excluded[0]').fieldValue" rows="2"></textarea>
</div>
<hr />
<p class="text-right">
    <button type="button" class="btn btn-warning" style="float:left" ng-click="goBack()">
        <span class="glyphicons glyphicons-left-arrow"></span>
        <span>Go Back</span>
    </button>
    <button type="button" class="btn btn-warning" ng-click="goNext()">
        <span>Next: Addenda, Riders &amp; Disclosures</span>
        <span class="glyphicons glyphicons-right-arrow"></span>
    </button>
</p>