﻿<h2 class="text-primary">Possession</h2>
<p>Choose one (if blank, BUYER will be given possession at closing).</p>
<div class="form-group">
    <label for="BUYER_will_be_given_possession_at_closing">
        <input type="checkbox" id="BUYER_will_be_given_possession_at_closing" ng-model="getFormField('topmostSubform[0].Page7[0].BUYER_will_be_given_possession_at_closing[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
        BUYER will be given possession at closing
    </label><br />
    <label for="BUYER_will_be_given_possession_within">
        <input type="checkbox" id="BUYER_will_be_given_possession_within" ng-model="getFormField('topmostSubform[0].Page7[0].BUYER_will_be_given_possession_within[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
        Buyer will be given possession within a set number of days of closing (fill in below)
    </label>
</div>
<div class="form-group">
    <label for="TextField1">Maximum number of days after closing that BUYER will be given possession</label>
    <input id="TextField1" class="form-control" type="text" data-ng-model="getFormField('topmostSubform[0].Page7[0].TextField1[0]').fieldValue" />
</div>
<hr />
<div class="form-group">
    <label for="SELLER_represents_that_there_are_no_parties_in_possession_other_than_SELLER">
        <input type="checkbox" id="SELLER_represents_that_there_are_no_parties_in_possession_other_than_SELLER" ng-model="getFormField('topmostSubform[0].Page7[0].SELLER_represents_that_there_are_no_parties_in_possession_other_than_SELLER[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
        SELLER represents that there are no parties in possession other than SELLER.
    </label><br />
    <label for="BUYER_understands_that_the_Property_is_available_for_rent_or_rented_and_the_tenant_may_continue_in">
        <input type="checkbox" id="BUYER_understands_that_the_Property_is_available_for_rent_or_rented_and_the_tenant_may_continue_in" ng-model="getFormField('topmostSubform[0].Page7[0].BUYER_understands_that_the_Property_is_available_for_rent_or_rented_and_the_tenant_may_continue_in[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
        BUYER understands that the Property is available for rent or rented and that the tenant may continue in possession after closing unless otherwise agreed in writing.
    </label>
</div>
<hr />
<p class="text-right">
    <button type="button" class="btn btn-warning" style="float:left" ng-click="goBack()">
        <span class="glyphicons glyphicons-left-arrow"></span>
        <span>Go Back</span>
    </button>
    <button type="button" class="btn btn-warning" ng-click="goNext()">
        <span>Next: Personal Property</span>
        <span class="glyphicons glyphicons-right-arrow"></span>
    </button>
</p>