﻿<h2 class="text-primary">Property Disclosure</h2>
<div class="form-group">
    <label for="facts_materially_affecting_property_value">SELLER has no knowledge of facts materially affecting the value of the Property other than those which BUYER can readily observe <strong>except:</strong></label>
    <textarea id="facts_materially_affecting_property_value" class="form-control" data-ng-model="getFormField('topmostSubform[0].Page5[0].facts_materially_affecting_property_value[0]').fieldValue" rows="2"></textarea>
</div>
<div class="form-group">
    <label for="citations_issued">Property is not and will not be subject to a municipal or county code enforcement and no citation has been issued <strong>except:</strong></label>
    <textarea id="citations_issued" class="form-control" data-ng-model="getFormField('topmostSubform[0].Page5[0].citations_issued[0]').fieldValue" rows="2"></textarea>
</div>
<div class="form-group">
    <label for="noncompliant_improvements">SELLER has no knowledge of repairs or improvements not in compliance with governmental regulations <strong>except:</strong></label>
    <textarea id="noncompliant_improvements" class="form-control" data-ng-model="getFormField('topmostSubform[0].Page5[0].noncompliant_improvements[0]').fieldValue" rows="2"></textarea>
</div>
<hr />
<p class="text-right">
    <button type="button" class="btn btn-warning" style="float:left" ng-click="goBack()">
        <span class="glyphicons glyphicons-left-arrow"></span>
        <span>Go Back</span>
    </button>
    <button type="button" class="btn btn-warning" ng-click="goNext()">
        <span>Next: Possession</span>
        <span class="glyphicons glyphicons-right-arrow"></span>
    </button>
</p>