﻿<h2 class="text-primary">Binder Deposit</h2>
<div class="form-group">
    <label for="binderAmount">Amount already paid</label>
    <input id="binderAmount" class="form-control" type="text" data-ng-model="getFormField('topmostSubform[0].Page1[0].binder_amount[0]').fieldValue" />
</div>
<div class="form-group">
    <label for="binderAmountDueLater">Amount due after contract acceptance</label>
    <input id="binderAmountDueLater" class="form-control" type="text" data-ng-model="getFormField('topmostSubform[0].Page1[0].binder_deposit_amount[0]').fieldValue" />
</div>
<div class="form-group">
    <label for="binderDueWithin">Number of days after contract acceptance that deposit is due</label>
    <input id="binderDueWithin" class="form-control" type="text" data-ng-model="getFormField('topmostSubform[0].Page1[0].binder_deposit_due_within[0]').fieldValue" />
</div>
<h2 class="text-primary">Additional Binder Deposit</h2>
<div class="form-group">
    <label for="additionalBinderAmount">Additional amount</label>
    <input id="additionalBinderAmount" class="form-control" type="text" data-ng-model="getFormField('topmostSubform[0].Page1[0].additional_binder_deposit_amount[0]').fieldValue" />
</div>
<div class="form-group">
    <label for="additionalBinderDueDate">Date additional deposit is due (if a specific date)</label>
    <div class="well well-sm">
        <p>
            <datepicker id="additionalBinderDueDate" ng-change="getFormField('topmostSubform[0].Page1[0].additional_binder_deposit_due_within[0]').fieldValue = ''" show-weeks="false" data-ng-model="getFormField('topmostSubform[0].Page1[0].additional_binder_deposit_deadline[0]').fieldValue"></datepicker>
        </p>

        <strong>Selected due date: </strong>
        <span ng-show="getFormField('topmostSubform[0].Page1[0].additional_binder_deposit_deadline[0]').fieldValue">
            {{getFormField('topmostSubform[0].Page1[0].additional_binder_deposit_deadline[0]').fieldValue | date}}
        </span>
        <span ng-hide="getFormField('topmostSubform[0].Page1[0].additional_binder_deposit_deadline[0]').fieldValue">
            n/a
        </span>

    </div>
</div>
<div class="form-group">
    <label for="additionalBinderDueWithin"><strong>OR</strong> number of days after contract acceptance that additional deposit is due</label>
    <input id="additionalBinderDueWithin" class="form-control" type="text" data-ng-model="getFormField('topmostSubform[0].Page1[0].additional_binder_deposit_due_within[0]').fieldValue" ng-change="getFormField('topmostSubform[0].Page1[0].additional_binder_deposit_deadline[0]').fieldValue = ''" />
</div>
<h2 class="text-primary">Due at Closing</h2>
<div class="form-group">
    <label for="closingAmount">Balance due at closing</label>
    <input id="closingAmount" class="form-control" type="text" data-ng-model="getFormField('topmostSubform[0].Page1[0].balance_due_at_closing[0]').fieldValue" />
</div>
<div class="form-group">
    <label for="loanAmount">Loan proceeds</label>
    <input id="loanAmount" class="form-control" type="text" data-ng-model="getFormField('topmostSubform[0].Page1[0].third_party_financed_amount[0]').fieldValue" />
</div>
<div class="form-group">
    <label for="sellerFinancedAmount">Seller-financed loan proceeds</label>
    <input id="sellerFinancedAmount" class="form-control" type="text" data-ng-model="getFormField('topmostSubform[0].Page1[0].seller_financed_amount[0]').fieldValue" />
</div>
<h2 class="text-primary">Total Purchase Price</h2>
<div class="form-group">
    <label for="purchasePrice">Total purchase amount</label>
    <input id="purchasePrice" class="form-control" type="text" data-ng-model="getFormField('topmostSubform[0].Page1[0].purchase_price[0]').fieldValue" />
</div>
<hr />
<p class="text-right">
    <button type="button" class="btn btn-warning" style="float:left" ng-click="goBack()">
        <span class="glyphicons glyphicons-left-arrow"></span>
        <span>Go Back</span>
    </button>
    <button type="button" class="btn btn-warning" ng-click="goNext()">
        <span>Next: Financing Information</span>
        <span class="glyphicons glyphicons-right-arrow"></span>
    </button>
</p>