﻿<h2 class="text-primary">Seller Will Pay</h2>
<div class="row">
    <div class="col-xs-12 col-md-6 form-group">
        <label for="Deed_stamps">
            <input type="checkbox" id="Deed_stamps" ng-model="getFormField('topmostSubform[0].Page4[0].Deed_stamps[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Deed stamps
        </label>
    </div>

    <div class="col-xs-12 col-md-6 form-group">
        <label for="One_year_home_warranty_2">
            <input type="checkbox" id="One_year_home_warranty_2" ng-model="getFormField('topmostSubform[0].Page4[0].One_year_home_warranty_2[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            One year home warranty:
        </label>
        <input class="form-control" type="text" id="one_year_home_warranty_description" ng-model="getFormField('topmostSubform[0].Page4[0].home_warranty_description[0]').fieldValue" />
    </div>    
</div>
<div class="row">
    <div class="col-xs-12 col-md-6 form-group">
        <label for="Owners_title_insurance_policy">
            <input type="checkbox" id="Owners_title_insurance_policy" ng-model="getFormField('topmostSubform[0].Page4[0].Owners_title_insurance_policy[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Owner's title insurance policy
        </label>
    </div>
    <div class="col-xs-12 col-md-6 form-group">
        <label for="Title_insurance_endorsements_2">
            <input type="checkbox" id="Title_insurance_endorsements_2" ng-model="getFormField('topmostSubform[0].Page4[0].Title_insurance_endorsements_2[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Title insurance endorsements
        </label>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6 form-group">
        <label for="Title_search_2">
            <input type="checkbox" id="Title_search_2" ng-model="getFormField('topmostSubform[0].Page4[0].Title_search_2[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Title search
        </label>
    </div>
    <div class="col-xs-12 col-md-6 form-group">
        <label for="Lenders_flood_certification_fees_2">
            <input type="checkbox" id="Lenders_flood_certification_fees_2" ng-model="getFormField('topmostSubform[0].Page4[0].Lenders_flood_certification_fees_2[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Lender's flood certification fees
        </label>
    </div>
    
</div>

<div class="row">
    <div class="col-xs-12 col-md-6 form-group">
        <label for="Closing_attorneySettlement_fee">
            <input type="checkbox" id="Closing_attorneySettlement_fee" ng-model="getFormField('topmostSubform[0].Page4[0].Closing_attorneySettlement_fee[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Closing attorney/settlement fee
        </label>
    </div>
    <div class="col-xs-12 col-md-6 form-group">
        <label for="Mortgage_discount_not_to_exceed_2">
            <input type="checkbox" id="Mortgage_discount_not_to_exceed_2" ng-model="getFormField('topmostSubform[0].Page4[0].Mortgage_discount_not_to_exceed_2[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Mortgage discount not to exceed:
        </label>
        <input class="form-control" type="text" id="seller_paid_mortgage_discount_amount" ng-model="getFormField('topmostSubform[0].Page4[0].seller_paid_mortgage_discount_amount[0]').fieldValue" />
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-6 form-group">
        <label for="Real_estate_brokerage_fee_2">
            <input type="checkbox" id="Real_estate_brokerage_fee_2" ng-model="getFormField('topmostSubform[0].Page4[0].Real_estate_brokerage_fee_2[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Real estate brokerage fee
        </label>
    </div>
    <div class="col-xs-12 col-md-6 form-group">
        <label for="Appraisal_fee_2">
            <input type="checkbox" id="Appraisal_fee_2" ng-model="getFormField('topmostSubform[0].Page4[0].Appraisal_fee_2[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Appraisal fee
        </label>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6 form-group">
        <label for="Survey_2">
            <input type="checkbox" id="Survey_2" ng-model="getFormField('topmostSubform[0].Page4[0].Survey_2[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Survey
        </label>
    </div>
    <div class="col-xs-12 col-md-6 form-group">
        <label for="Tax_service_fee_2">
            <input type="checkbox" id="Tax_service_fee_2" ng-model="getFormField('topmostSubform[0].Page4[0].Tax_service_fee_2[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Tax service fee
        </label>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6 form-group">
        <label for="Satisfaction_of_mortgage_and_recording_fee">
            <input type="checkbox" id="Satisfaction_of_mortgage_and_recording_fee" ng-model="getFormField('topmostSubform[0].Page4[0].Satisfaction_of_mortgage_and_recording_fee[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Satisfaction of mortgage and recording fee
        </label>
    </div>
    <div class="col-xs-12 col-md-6 form-group">
        <label for="SELLERs_courier_fees">
            <input type="checkbox" id="SELLERs_courier_fees" ng-model="getFormField('topmostSubform[0].Page4[0].SELLERs_courier_fees[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            SELLER's courier fees
        </label>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 form-group">
        <label for="Wooddestroying_organism_report_Seller_must_pay_if_VA">
            <input type="checkbox" id="Wooddestroying_organism_report_Seller_must_pay_if_VA" ng-model="getFormField('topmostSubform[0].Page4[0].Wooddestroying_organism_report_Seller_must_pay_if_VA[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Wood-destroying organism report (Seller must pay if VA)
        </label>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 form-group">
        <label for="Other_2">
            <input type="checkbox" id="Other_2" ng-model="getFormField('topmostSubform[0].Page4[0].Other_2[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
            Other
        </label>
        <input class="form-control" type="text" id="seller_other_description" ng-model="getFormField('topmostSubform[0].Page4[0].seller_other_description[0]').fieldValue" />
    </div>
</div>
<hr />
<h2 class="text-primary">Special Assessment Installments</h2>
<p>If public body special assessments may be paid in installments (CHECK ONE)</p>

<div class="form-group">
    <label for="BUYER_shall_pay_installments_due_after_date_of_closing">
        <input type="checkbox" id="BUYER_shall_pay_installments_due_after_date_of_closing" ng-model="getFormField('topmostSubform[0].Page4[0].BUYER_shall_pay_installments_due_after_date_of_closing[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
        BUYER shall pay installments due after date of closing
    </label><br />
    <label for="SELLER_will_pay_the_assessment_in_full_prior_to_or_at_the_time_of_closing">
        <input type="checkbox" id="SELLER_will_pay_the_assessment_in_full_prior_to_or_at_the_time_of_closing" ng-model="getFormField('topmostSubform[0].Page4[0].SELLER_will_pay_the_assessment_in_full_prior_to_or_at_the_time_of_closing[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
        SELLER will pay the assessment in full prior to or at the time of closing
    </label>
</div>
<hr />
<p class="text-right">
    <button type="button" class="btn btn-warning" style="float:left" ng-click="goBack()">
        <span class="glyphicons glyphicons-left-arrow"></span>
        <span>Go Back</span>
    </button>
    <button type="button" class="btn btn-warning" ng-click="goNext()">
        <span>Next: Property Disclosure</span>
        <span class="glyphicons glyphicons-right-arrow"></span>
    </button>
</p>