﻿<h2 class="text-primary">Survey</h2>
<div class="form-group">
    <label for="days_before_date_of_closing_5_days_if_left_blank_the_party_paying_for_the_survey">Days before closing survey documents will be provided (5 days if blank)</label>
    <input id="days_before_date_of_closing_5_days_if_left_blank_the_party_paying_for_the_survey" class="form-control" type="text" data-ng-model="getFormField('topmostSubform[0].Page3[0].days_before_date_of_closing_5_days_if_left_blank_the_party_paying_for_the_survey[0]').fieldValue" />
</div>
<p>Choose one.</p>
<div class="form-group">
    <label for="months_of_date_of_closing_showing_all_improvements_certified_to_BUYER_lender_and_the_title_insurer_in">
        <input type="checkbox" id="months_of_date_of_closing_showing_all_improvements_certified_to_BUYER_lender_and_the_title_insurer_in" ng-model="getFormField('topmostSubform[0].Page3[0].months_of_date_of_closing_showing_all_improvements_certified_to_BUYER_lender_and_the_title_insurer_in[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
        A new staked survey of the Property dated within 3 months of date of closing showing all improvements, certified to BUYER, lender, and the title insurer in compliance with Florida law
    </label><br />
    <label for="improvements_and_sufficient_to_allow_removal_of_the_survey_exceptions_from_the_title_insurance">
        <input type="checkbox" id="improvements_and_sufficient_to_allow_removal_of_the_survey_exceptions_from_the_title_insurance" ng-model="getFormField('topmostSubform[0].Page3[0].improvements_and_sufficient_to_allow_removal_of_the_survey_exceptions_from_the_title_insurance[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
        A copy of a previously made survey of the Property showing all existing improvements and sufficient to allow removal of the survey exceptions from the title insurance commitment
    </label><br />
    <label for="If_a_surveyors_flood_elevation_certificate_is_required_BUYER_shall_pay_for_it">
        <input type="checkbox" id="If_a_surveyors_flood_elevation_certificate_is_required_BUYER_shall_pay_for_it" ng-model="getFormField('topmostSubform[0].Page3[0].If_a_surveyors_flood_elevation_certificate_is_required_BUYER_shall_pay_for_it[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
        No survey is required
    </label>
</div>
<hr />
<p class="text-right">
    <button type="button" class="btn btn-warning" style="float:left" ng-click="goBack()">
        <span class="glyphicons glyphicons-left-arrow"></span>
        <span>Go Back</span>
    </button>
    <button type="button" class="btn btn-warning" ng-click="goNext()">
        <span>Next: Buyer Will Pay</span>
        <span class="glyphicons glyphicons-right-arrow"></span>
    </button>
</p>