﻿<h2 class="text-primary">Time of Acceptance</h2>
<p>Choose the deadline for accepting this deadline.</p>
<div class="form-group">
    <label for="DATE_THIS">Date</label>
    <div class="well well-sm">
        <p>
            <datepicker id="DATE_THIS" show-weeks="false" data-ng-model="getFormField('topmostSubform[0].Page9[0].DATE_THIS').fieldValue"></datepicker>
        </p>

        <strong>Selected date: </strong>
        <span ng-show="getFormField('topmostSubform[0].Page9[0].DATE_THIS').fieldValue">
            {{getFormField('topmostSubform[0].Page9[0].DATE_THIS').fieldValue | date}}
        </span>

        <span ng-hide="getFormField('topmostSubform[0].Page9[0].DATE_THIS').fieldValue">
            n/a
        </span>
    </div>
</div>
<div class="form-group">
    <label for="acceptanceDeadlineTime">Time</label>
    <div class="well well-sm">
        <p>
            <timepicker id="acceptanceDeadlineTime" minute-step="60" data-ng-model="supplementalFields.acceptanceDeadlineTime"></timepicker>
        </p>
    </div>
</div>

<div class="form-group">
    <label for="DELIVERED">Time (in hours) for acceptance of any counter offer from the time the counter offer is delivered</label>
    <input id="DELIVERED" class="form-control" type="text" data-ng-model="getFormField('topmostSubform[0].Page9[0].DELIVERED[0]').fieldValue" />
</div>

<hr />
<p>
    <button type="button" class="btn btn-warning" ng-click="goBack()">
        <span class="glyphicons glyphicons-left-arrow"></span>
        <span>Go Back</span>
    </button>
</p>