﻿<h2 class="text-primary">Title Examination &amp; Date of Closing</h2>
<div class="form-group">
    <label for="dateOfClosing">Date of closing</label>
    <div class="well well-sm">
        <p>
            <datepicker ng-change="getFormField('topmostSubform[0].Page2[0].days_after_date_of_acceptance_of_this[0]').fieldValue = ''" id="dateOfClosing" show-weeks="false" data-ng-model="getFormField('topmostSubform[0].Page2[0].Agreement_unless_extended_by_other_conditions_of_this_Agreement_Marketable_title_means_title_which[0]').fieldValue"></datepicker>
        </p>
        
        <strong>Selected date of closing: </strong>
        <span ng-show="getFormField('topmostSubform[0].Page2[0].Agreement_unless_extended_by_other_conditions_of_this_Agreement_Marketable_title_means_title_which[0]').fieldValue">
            {{getFormField('topmostSubform[0].Page2[0].Agreement_unless_extended_by_other_conditions_of_this_Agreement_Marketable_title_means_title_which[0]').fieldValue | date}}
        </span>
        <span ng-hide="getFormField('topmostSubform[0].Page2[0].Agreement_unless_extended_by_other_conditions_of_this_Agreement_Marketable_title_means_title_which[0]').fieldValue">
            n/a
        </span>
        
    </div>
</div>
<div class="form-group">
    <label for="closingPeriod"><strong>OR</strong> number of days after contract acceptance that closing will occur</label>
    <input id="closingPeriod" class="form-control" ng-change="getFormField('topmostSubform[0].Page2[0].Agreement_unless_extended_by_other_conditions_of_this_Agreement_Marketable_title_means_title_which[0]').fieldValue = ''" type="text" data-ng-model="getFormField('topmostSubform[0].Page2[0].days_after_date_of_acceptance_of_this[0]').fieldValue" />
</div>
<hr />
<p class="text-right">
    <button type="button" class="btn btn-warning" style="float:left" ng-click="goBack()">
        <span class="glyphicons glyphicons-left-arrow"></span>
        <span>Go Back</span>
    </button>
    <button type="button" class="btn btn-warning" ng-click="goNext()">
        <span>Next: Title Evidence</span>
        <span class="glyphicons glyphicons-right-arrow"></span>
    </button>
</p>