﻿<h2 class="text-primary">Title Evidence</h2>
<div class="form-group">
    <label for="days_before_date_of_closing_5_days_if_left_blank_the_party_paying_for">Minimum days before closing title evidence will be provided (5 days if blank)</label>
    <input id="days_before_date_of_closing_5_days_if_left_blank_the_party_paying_for" class="form-control" type="text" data-ng-model="getFormField('topmostSubform[0].Page3[0].days_before_date_of_closing_5_days_if_left_blank_the_party_paying_for[0]').fieldValue" />
</div>
<p>At least {{getFormField('topmostSubform[0].Page3[0].days_before_date_of_closing_5_days_if_left_blank_the_party_paying_for[0]').fieldValue || '5'}} days before date of closing, the party paying for the title insurance shall cause the title agent to issue (choose one):</p>
<div class="form-group">
    <label for="Title_insurance_commitment_for_mortgage_policy_in_the_amount_of">
        <input type="checkbox" id="Title_insurance_commitment_for_mortgage_policy_in_the_amount_of" ng-model="getFormField('topmostSubform[0].Page3[0].Title_insurance_commitment_for_mortgage_policy_in_the_amount_of[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
        Title insurance commitment for an owner's policy in the amount of the purchase price
    </label><br />
    <label for="the_new_mortgage_Any_expense_of_curing_title_defects_such_as_but_not_limited_to_legal_fees_discharge_of">
        <input type="checkbox" id="the_new_mortgage_Any_expense_of_curing_title_defects_such_as_but_not_limited_to_legal_fees_discharge_of" ng-model="getFormField('topmostSubform[0].Page3[0].the_new_mortgage_Any_expense_of_curing_title_defects_such_as_but_not_limited_to_legal_fees_discharge_of[0]').fieldValue" ng-true-value="On" ng-false-value="Off" />
        Title insurance commitment for an owner's policy in the amount of the new mortgage
    </label>
</div>
<hr />
<p class="text-right">
    <button type="button" class="btn btn-warning" style="float:left" ng-click="goBack()">
        <span class="glyphicons glyphicons-left-arrow"></span>
        <span>Go Back</span>
    </button>
    <button type="button" class="btn btn-warning" ng-click="goNext()">
        <span>Next: Survey</span>
        <span class="glyphicons glyphicons-right-arrow"></span>
    </button>
</p>