﻿<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <title>Divine Forms</title>
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/Content/images/icon.png" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="@Divinity.Common.CacheBuster.Version("~/Client/Bundles/style-bundle.css")" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Parisienne|Give+You+Glory|Reenie+Beanie|Just+Me+Again+Down+Here|Great+Vibes|Courgette|Satisfy|Pinyon+Script|Nothing+You+Could+Do|Sacramento|Rochester' rel='stylesheet' type='text/css'>
</head>
<body data-ng-app="main" data-ng-controller="RootController" flow-prevent-drop>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-2 text-right-sm" ng-hide="hideMenu">

            </div>
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div style="text-align:right" ng-hide="hideMenu">
                    <div class="dropdown" ng-include="'user-menu.html'"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-2 text-right-sm">
                <div ng-include="'left-menu.html'" ng-hide="hideMenu"></div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="panel panel-default">
                    <div style="margin:10px;" flash-alert active-class="in alert" class="fade">
                        {{flash.message || '&nbsp;'}}
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <script src="@Divinity.Common.CacheBuster.Version("~/Client/Bundles/lib-bundle.js")"></script>
    <script src="@Divinity.Common.CacheBuster.Version("~/Client/Bundles/app-bundle.js")"></script>
    <script src="@Divinity.Common.CacheBuster.Version("~/Client/Bundles/view-bundle.js")"></script>
</body>
</html>
