﻿<a href="#/deals"><img src="/Content/images/logo.png" style="width:150px; padding-bottom:20px;" /></a>
<ul class="nav nav-pills nav-stacked">
    <li data-ng-class="{'active':activeViewPath.startsWith('/deals')}">
        <a href="#/deals">
            <span>Deals</span>
            <span style="padding-left:10px" class="glyphicons glyphicons-home"></span>
        </a>
    </li>
    <li data-ng-class="{'active':activeViewPath == '/personal-info'}">
        <a href="#/personal-info">
            <span>Personal Info</span>
            <span style="padding-left:10px" class="glyphicons glyphicons-user"></span>
        </a>
    </li>
    <li data-ng-class="{'active':activeViewPath == '/my-signature'}">
        <a href="#/my-signature">
            <span>My Signature</span>
            <span style="padding-left:10px" class="glyphicons glyphicons-pen"></span>
        </a>
    </li>
    <li data-ng-class="{'active':activeViewPath == '/subscription'}">
        <a href="#/subscription">
            <span>Subscription</span>
            <span style="padding-left:10px" class="glyphicons glyphicons-cart-tick"></span>
        </a>
    </li>
    <li data-ng-class="{'active':activeViewPath == '/title-company'}">
        <a href="#/title-company">
            <span>Title Company</span>
            <span style="padding-left:10px" class="glyphicons glyphicons-bank"></span>
        </a>
    </li>
</ul>