﻿<a class="dropdown-toggle" style="cursor:pointer;">{{authentication.userName}} <b class="caret"></b></a>
<ul class="dropdown-menu dropdown-menu-right">
    <li><a style="cursor:pointer;" ng-click="logOut()">Sign Out</a></li>
</ul>