﻿h1, h2, h3, h4, h5, h6 {
    margin: 5px 0;
    padding: 0;
}
body {
    padding-top: 0;
    padding-bottom: 20px;
}

.grid-style {
    border: 1px solid rgb(212,212,212);
    min-height: 250px;
    max-height:500px;
    overflow-x: hidden;
}

.ui-grid-default {
    width: 100%;
    height: 300px;
}

.row-padded {
    padding-bottom: 10px;
}

.fa-spin-custom, .glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

label {
    font-weight:bold;
    font-size:14px;
}

.under {
    z-index: -100;
}