﻿<div class="panel-body" ng-show="loaded">
    <div style="text-align:center">
        <h1 class="text-primary">
            {{document.displayName}}
        </h1>
        Navigate the tabs below to manage this document.
    </div>
    <hr />
    <tabset type="pills">
        <tab heading="Info" class="info">
            <hr />
            <p>This document was uploaded on <strong>{{document.createdAt | date : 'longDate'}}</strong> at <strong>{{document.createdAt | date : 'shortTime'}}</strong></p>
            <hr />
            <p>
                <a ng-href="{{getDocUri('application/octet-stream')}}" class="btn btn-success" target="_blank">
                    <span class="glyphicons glyphicons-disk-save"></span>
                    <span>Download</span>
                </a>
                <button class="btn btn-danger" type="button" data-ng-confirm-click="Are you sure?" data-ng-click="deleteDocument()">
                    <span class="glyphicons glyphicons-bin"></span>
                    <span>Trash</span>
                </button>
            </p>
        </tab>
        <tab heading="Signing" ng-show="document.contentType === 'application/pdf'">
            <div>
                <hr />
                If you wish, you may add signature fields to this document and then notify the parties involved to come sign.
            </div>
            <!--This section lets users navigate to where they may set up signature fields on the doc-->
            <div id="signatureSetup">
                <hr />
                <h2 class="text-success">Setup Signatures</h2>
                <p>Click 'Setup' to add signature fields to your document. Click 'Lock' when you're ready to start collecting signatures.</p>
                <p>
                    <a ng-href="{{'/#/deals/' + document.dealID + '/documents/' + document.documentID + '/signature-setup'}}" class="btn btn-success">
                        <span class="glyphicons glyphicons-crop"></span>
                        <span>Setup Fields</span>
                    </a>
                </p>
            </div>
            <!--This section lets them send signature requests to people-->
            <div ng-show="getPeople().length > 0">
                <hr />
                <p>Choose a party and enter the person's e-mail address to request a signature.</p>
                <form name="signature-sharing" ng-submit="sendToSigner()" ng-show="document.contentType === 'application/pdf' && document.signatureFields.length > 0" ng-include="'partials/signature-sharing.html'"></form>
            </div>

            <div ng-show="document.signatureRequests && document.signatureRequests.length > 0" class="table-responsive">
                <hr />
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Signer</th>
                            <th>Signed As</th>
                            <th>Requested At</th>
                            <th>Executed At</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="request in document.signatureRequests | filter: {revoked:false}" ng-class="{success:request.allSignaturesConfirmedAt}">
                            <td>{{request.signer.lastName}}, {{request.signer.firstName}}</td>
                            <td>{{request.signer.roleName}}</td>
                            <td>{{request.createdAt | date : 'short'}}</td>
                            <td>{{request.allSignaturesConfirmedAt | date : 'short'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </tab>
        <tab heading="Sharing" ng-show="false">

        </tab>
        <tab heading="Preview" ng-show="document && getDocUri()">
            <hr />
            <p>You may view your document below.</p>
            <hr />
            <iframe ng-src="{{loaded ? getDocUri() : ''}}" frameborder="1" style="width:100%; height:600px;"></iframe>
        </tab>
    </tabset>
</div>