﻿<div class="panel-body">
    <div style="text-align:center">
        <h1 class="text-primary">
            {{document.fileName}}
        </h1>
        
    </div>
</div>
<hr style="margin:0" />
<div class="panel-body">
    <h2 class="text-success">Signature Setup</h2>
    Add signatures, initials, roles, and date fields. Click 'Save' when finished.
    <p>
        <button type="button" class="btn btn-success" data-ng-click="save()">
            <span class="glyphicon glyphicon-save"></span>
            <span>Save</span>
        </button>
        <button type="button" class="btn btn-danger" data-ng-click="$back()">
            <span class="glyphicons glyphicons-ban"></span>
            <span>Cancel</span>
        </button>
    </p>
</div>
<hr style="margin:0" ng-show="document.pages.length > 1" />
<div class="panel-body" ng-show="document.pages.length > 1">
    <h3>Page {{page}} of {{document.pages.length}}</h3>
    <div class="text-primary" ng-click="page = page - 1" ng-show="page > 1" style="cursor:pointer;float:left; width:70px;"><strong><span class="glyphicon glyphicon-chevron-left"></span> PREV</strong></div>
    <div class="text-primary" ng-click="page = page + 1" ng-show="document && page < document.pages.length" style="cursor:pointer;float:right; width:70px;"><strong>NEXT <span class="glyphicon glyphicon-chevron-right"></span></strong></div>
</div>
<hr style="margin:0" />
<table class="table">
    <thead>
        <tr>
            <th colspan="3">Options</th>
        </tr>
    </thead>
    <tbody>
        <tr class="warning">
            <td colspan="3">
                <button type="button" class="btn btn-xs btn-success" data-ng-click="addSignatureField()">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>Add Signature</span>
                </button>
                <button ng-show="selectedSig" ng-confirm-click="Are you sure?" type="button" class="btn btn-xs btn-danger" data-ng-click="trashSelectedSignature()">
                    <span class="glyphicon glyphicon-trash"></span>
                    <span>Delete Signature</span>
                </button>
            </td>
        </tr>
    </tbody>
    <tbody ng-show="selectedSig">
        <tr>
            <th>Selected Field</th>
            <th>Role</th>
            <th>Date Field</th>
        </tr>

        <tr ng-repeat="sig in document.signatureFields" ng-show="selected(sig)" class="success">
            <td>
                <select name="signatureType" id="signatureType" data-ng-model="sig.signatureType" ng-options="st.name as st.name for st in signatureTypes"></select>
            </td>
            <td>
                <select name="roleName" id="roleName" data-ng-model="sig.roleName" ng-options="role.roleName as role.roleName for role in roles"></select>
            </td>
            <td>
                <span ng-show="sig.hasDate">
                    <strong>Yes</strong>
                    <button type="button" class="btn btn-xs btn-danger" data-ng-click="removeSignatureDate(sig)">
                        <span class="glyphicon glyphicon-trash"></span>
                        <span>Trash</span>
                    </button>
                </span>
                <span ng-hide="sig.hasDate">
                    <strong>No</strong>
                    <button type="button" class="btn btn-xs btn-success" data-ng-click="addSignatureDate(sig)">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span>Add</span>
                    </button>
                </span>

            </td>
        </tr>
    </tbody>
</table>
<div class="panel-body">
    <div ng-style="getPageContainerDivStyle(page)">
        <div ng-style="getPageImageDivStyle(page)">
            <div ng-repeat="sig in getSigsForPage(page)" signature-box id="{{sig.signatureInfoID}}" ng-style="getSignatureBoxStyle(sig)" ng-mousedown="select(sig)">
                <span ng-show="sig.signatureType == 'Signature'">{{sig.roleName}} {{sig.signatureType}}</span>
                <span ng-show="sig.signatureType == 'Initials'">{{sig.roleName.substring(0,1)}}{{sig.roleName.substring(sig.roleName.indexOf(' ') + 1,sig.roleName.indexOf(' ') + 2)}}</span>
            </div>
            <div ng-repeat="sig in getSigsForPage(page)" date-box ng-show="sig.hasDate" id="{{sig.signatureInfoID}}-date" ng-style="getDateBoxStyle(sig)" ng-mousedown="select(sig)">
                Date
            </div>
        </div>

    </div>
</div>