﻿<div class="panel-body">
    <div style="text-align:center">
        <h1 class="text-primary">
            Subscription
        </h1>
        Help us help you by keeping your subscription up to date.
    </div>
    <hr />

    <div class="alert alert-success" ng-show="subscriptionStatus.stripeSubscriptionStatus === 'free' && !subscriptionStatus.stripeMemberSince">
        <h4>Free Account</h4>
        <p>You have used <strong>{{subscriptionStatus.dealsCreated}}</strong> of your <strong>{{subscriptionStatus.freeDeals}}</strong> complimentary deals. If you wish to have unlimited deals, you may go ahead and start your subscription today using the form below.</p>
    </div>
    <div class="alert alert-success" ng-show="subscriptionStatus.stripeSubscriptionStatus === 'active'">
        <h4>Membership Status: Active</h4>
        <p>Good news! You're all paid up.</p>
    </div>
    <div class="alert alert-danger" ng-show="subscriptionStatus.stripeSubscriptionStatus === 'past_due' || subscriptionStatus.stripeSubscriptionStatus === 'unpaid' || subscriptionStatus.stripeSubscriptionStatus === 'canceled'">
        <h4>Membership Status: Error</h4>
        <p>There was a problem charging your card for the most recent billing period. Please update your information below to resume service.</p>
    </div>
    <div class="alert alert-warning" ng-show="subscriptionStatus.stripeSubscriptionStatus === 'free' && subscriptionStatus.stripeMemberSince">
        <h4>Subscription Cancelled</h4>
        <p>You may resume your subscription below at any time.</p>
    </div>

    <div ng-show="subscriptionInfo.stripeSubscriptionStatus === 'active'">
        <p>
            You've been a member since <strong>{{subscriptionStatus.stripeMemberSince | date}}</strong>
        </p>
        <p>
            Your next payment of <strong>{{subscriptionStatus.discountedPrice || subscriptionStatus.fullPrice | currency}}</strong> will be charged to your <strong>{{subscriptionStatus.cardType}}</strong> ending in <strong>{{subscriptionStatus.cardLast4}}</strong> on <strong>{{subscriptionStatus.nextPaymentDate | date}}</strong>
        </p>
        <p ng-show="subscriptionInfo.discounted">
            Your discount of <strong>{{subscriptionStatus.discountPercent}}%</strong> will expire in <strong>{{subscriptionStatus.discountedMonthsLeft}}</strong> months, at which point your subscription price will increase to <strong>{{subscriptionStatus.fullPrice | currency}}</strong>
        </p>
    </div>

    <div>

        <div class="row" ng-show="subscriptionStatus.stripeSubscriptionStatus === 'active'">
            <hr />
            <div class="col-xs-12">
                <strong>CANCEL SUBSCRIPTION</strong>
                <p>
                    To unsubscribe, follow the steps below.
                </p>

                <div class="form-group">
                    <label for="reason">Please take a moment and tell us why you are cancelling your service</label>
                    <textarea class="form-control" rows="5" id="reason" name="reason" ng-model="unsub.reason"></textarea>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p>
                            <button ng-confirm-click="Are you sure you want to cancel your subscription?" data-ng-click="unsubscribe();" class="btn btn-danger">
                                <span class="glyphicons glyphicons-ban" ng-hide="saving"></span>
                                <span class="glyphicon glyphicon-cog glyphicon-spin" ng-show="saving"></span>
                                <span>Unsubscribe</span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="subscriptionStatus.stripeSubscriptionStatus && subscriptionStatus.stripeSubscriptionStatus !== 'active'">
            <form ng-submit="subscribe()">
                <div class="col-xs-8 col-sm-7 col-md-6">

                    <div class="form-group">
                        <label for="cardName">Cardholder Name</label>
                        <input class="form-control" type="text" name="cardName" id="cardName" data-ng-model="subscription.cardName" required autofocus />
                    </div>
                    <div class="form-group">
                        <label for="cardNumber">Card Number</label>
                        <input class="form-control" type="text" name="cardNumber" id="cardNumber" data-ng-model="subscription.cardNumber" numeric-input required />
                    </div>
                    <div class="form-group">
                        <label for="cardCvc">Card Security (CVV/CVC) Number</label>
                        <input class="form-control" type="text" style="width:100px" name="cardCvc" id="cardCvc" data-ng-model="subscription.cardCvc" numeric-input maxlength="5" required />
                    </div>
                    <div class="form-group">
                        <label>Card Expiration</label>
                        <div class="form-inline">
                            <select class="form-control" style="width:100px;" name="cardExpirationYear" id="cardExpirationYear" data-ng-model="subscription.cardExpirationYear" ng-options="year.year as year.year for year in years" required></select>
                            <select class="form-control" style="width:70px;" name="cardExpirationMonth" id="cardExpirationMonth" data-ng-model="subscription.cardExpirationMonth" required>
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="cardAddressLine1">Address 1</label>
                        <input class="form-control" type="text" name="cardAddressLine1" id="cardAddressLine1" data-ng-model="subscription.cardAddressLine1" required />
                    </div>
                    <div class="form-group">
                        <label for="cardAddressLine2">Address 2</label>
                        <input class="form-control" type="text" name="cardAddressLine2" id="cardAddressLine2" data-ng-model="subscription.cardAddressLine2" />
                    </div>
                    <div class="form-group">
                        <label for="cardAddressCity">City</label>
                        <input class="form-control" type="text" name="cardAddressCity" id="cardAddressCity" data-ng-model="subscription.cardAddressCity" required />
                    </div>
                    <div class="form-group">
                        <label for="cardAddressState">State</label>
                        <input class="form-control" type="text" name="cardAddressState" id="cardAddressState" data-ng-model="subscription.cardAddressState" required />
                    </div>
                    <div class="form-group">
                        <label for="cardAddressZip">Zip Code</label>
                        <input class="form-control" type="text" name="cardAddressZip" id="cardAddressZip" data-ng-model="subscription.cardAddressZip" numeric-input required maxlength="5" />
                    </div>

                    <div class="row">
                        <div class="col-xs-7">
                            <strong>MONTHLY SUBSCRIPTION</strong>
                        </div>
                        <div class="col-xs-5 text-right">
                            <strong ng-style="getFullPriceStyle()">{{29|currency}} / month</strong>
                            <strong ng-show="couponToApply">
                                <br /><span class="text-info">{{couponToApply.discountPercent}}% OFF</span>
                                <br /><span class="text-success">{{couponToApply.discountedPrice | currency}} / month
                            </strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="couponCode">Coupon Code</label>
                        <input class="form-control" type="text" name="couponCode" id="couponCode" data-ng-model="subscription.couponCode" />

                    </div>
                    <p>
                        <button type="button" data-ng-click="checkCoupon()" class="btn btn-xs btn-info">
                            <span class="glyphicons glyphicons-flash"></span>
                            <span>Apply Coupon</span>
                        </button>
                        {{couponMessage}}
                    </p>
                    <p>
                        By proceeding, you agree to our Terms of Use and Privacy Policy.
                    </p>
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <p>
                                <button type="submit" class="btn btn-danger">
                                    <span class="glyphicons glyphicons-credit-card" ng-hide="saving"></span>
                                    <span class="glyphicon glyphicon-cog glyphicon-spin" ng-show="saving"></span>
                                    <span>Subscribe &amp; Pay</span>
                                </button>
                            </p>
                        </div>
                    </div>
                    <p>
                        <div class="alert alert-warning" ng-show="errorMessage">
                            {{errorMessage}}
                        </div>
                    </p>
                </div>

                <div class="col-xs-1">

                </div>
                <div class="col-xs-3 col-sm-4 well well-sm" style="margin:20px;">
                    <p>
                        Time well spent results in more money to spend, more money to save, and more time to vacation.
                    </p>
                    - Zig Ziglar
                </div>
            </form>
        </div>
    </div>
</div>