﻿<div class="panel-body">
    <div style="text-align:center">
        <h1 class="text-primary">
            My Signature
        </h1>
        Personalize your signature so we can remember it when you work on your next form.
    </div>
    <hr />
    <div ng-controller="mySignatureController">
        <div class="row">
            <div class="col-xs-6 col-sm-5 col-md-4">
                <div ng-hide="loaded">
                    <h5>Loading...</h5>
                </div>
                <div ng-show="loaded">
                    <div class="form-group">
                        <label class="control-label" for="signature">Signature:</label>
                        <input class="form-control" type="text" id="signature" data-ng-model="userSignatureInfo.signatureText" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="initials">Initials:</label>
                        <input class="form-control" type="text" id="initials" data-ng-model="userSignatureInfo.initialsText" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="sigStyle">Choose your signature:</label><br />
                        
                        <div class="btn-group" dropdown>
                            <button type="button" id="sigStyle" class="btn btn-lg btn-default" dropdown-toggle>
                                <span ng-style="getStyle(getFont(userSignatureInfo.signatureFont))">{{userSignatureInfo.signatureText}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu nav" role="menu">
                                <li ng-repeat="f in fonts"><a data-ng-click="setSignatureFont(f)" style="cursor:pointer;"><span ng-style="getStyle(f)">{{userSignatureInfo.signatureText}}</span></a></li>
                            </ul>
                        </div>
                        <br/><br/>
                        <label class="control-label" for="sigStyle">Choose your initials:</label><br />
                        <div class="btn-group" dropdown>
                            <button type="button" id="sigStyle" class="btn btn-lg btn-default" dropdown-toggle>
                                <span ng-style="getStyle(getFont(userSignatureInfo.initialsFont))">{{userSignatureInfo.initialsText}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu nav" role="menu">
                                <li ng-repeat="f in fonts"><a data-ng-click="setInitialFont(f)" style="cursor:pointer;"><span ng-style="getStyle(f)">{{userSignatureInfo.initialsText}}</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <p>
                        <button data-ng-click="save();" class="btn btn-success">
                            <span class="glyphicons glyphicons-ok-2" ng-hide="saving"></span>
                            <span class="glyphicon glyphicon-cog glyphicon-spin" ng-show="saving"></span>
                            <span>Save</span>
                        </button>
                    </p>
                </div>
            </div>
            <div class="col-xs-1">

            </div>
            <div class="col-xs-4 col-sm-5 well well-sm" style="margin:20px;">
                <p>
                    Every thought you produce, anything you say, any action you do, it bears your signature.
                </p>
                - Nhat Hanh
            </div>
        </div>
    </div>
</div>