﻿<div class="panel-body">
    <div style="text-align:center">
        <h1 class="text-primary">
            Personal Information
        </h1>
        Tell us about yourself so we can make your life easier.
    </div>
    <hr />
    <div ng-controller="personalInfoController">
        <div class="row">
            <div class="col-xs-6 col-sm-5 col-md-4">
                <div ng-hide="personalInfoLoaded">
                    <h5>Loading...</h5>
                </div>
                <div ng-show="personalInfoLoaded">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input class="form-control" type="text" name="firstName" id="firstName" data-ng-model="personalInfo.firstName" />
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input class="form-control" type="text" name="lastName" id="lastName" data-ng-model="personalInfo.lastName" />
                    </div>
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                @
                            </div>
                            <input class="form-control" type="email" name="email" id="email" data-ng-model="personalInfo.email" />
                        </div>
                    </div>
                    <p>
                        <button data-ng-click="savePersonalInfo();" class="btn btn-success">
                            <span class="glyphicons glyphicons-ok-2" ng-hide="savingPersonalInfo"></span>
                            <span class="glyphicon glyphicon-cog glyphicon-spin" ng-show="savingPersonalInfo"></span>
                            <span>Save</span>
                        </button>
                    </p>
                </div>
            </div>
            <div class="col-xs-1">

            </div>
            <div class="col-xs-4 col-sm-5 well well-sm" style="margin:20px;">
                Information entered here will be used to pre-populate forms and personalize your experience on this site. We're all about saving you time, not sharing your information.
            </div>
        </div>
    </div>
</div>