﻿<div data-ng-view="" ng-show="appLoaded"></div>
<div class="panel-body" ng-hide="appLoaded">

    <div style="text-align:center">
        <span class="text-primary glyphicon glyphicon-refresh glyphicon-spin" style="font-size:2em"></span>
        <span class="text-primary" style="font-size:2em">Loading...</span>
        <br /><br />
    </div>

</div>