﻿<div class="panel-body" ng-show="loadFailed">
    <div style="text-align:center">
        <h1 class="text-primary">
            Not Found
        </h1>
        We couldn't find the document you were looking for. It may have been moved or discarded. If you have any questions, please contact your real estate professional.
        <br /><br /><br />
    </div>
</div>
<div class="panel-body" ng-show="request.revoked">
    <div style="text-align:center">
        <h1 class="text-primary">
            Signature Request Revoked
        </h1>
        Your signature is no longer needed on this document. If you have any questions, please contact {{requester.firstName}} {{requester.lastName}} at {{requester.email}}.
        <br /><br /><br />
    </div>
</div>
<div class="panel-body" ng-show="signatureRequest.allSignaturesConfirmedAt">
    <div style="text-align:center">
        <h1 class="text-primary">
            <span class="glyphicons glyphicons-certificate"></span>
            Signature Verification Certificate
        </h1>
        <p>
            This record certifies that <strong>{{ signer.firstName }} {{ signer.lastName }}</strong> signed the document <strong>{{ document.displayName }}</strong> on <strong>{{ signatureRequest.allSignaturesConfirmedAt | date }}</strong> at <strong>{{ signatureRequest.allSignaturesConfirmedAt | date: 'shortTime' }}</strong>.
        </p>
    </div>

    <div class="row">
        <div class="col-xs-12 " >
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th style="text-align:left;vertical-align:middle">Signature:</th>
                        <td><img ng-src="{{loaded ? getSignatureUrl() : ''}}" /></td>
                    </tr>
                    <tr>
                        <th style="text-align:left">Certificate ID:</th>
                        <td>{{signatureRequest.requestID}}</td>
                    </tr>
                    <tr>
                        <th style="text-align:left">Form Name</th>
                        <td>{{document.displayName}}</td>
                    </tr>
                    <tr>
                        <th style="text-align:left">Signer Name:</th>
                        <td>{{signer.firstName}} {{signer.lastName}}</td>
                    </tr>
                    <tr>
                        <th style="text-align:left">Signer E-mail Address: </th>
                        <td>{{signatureRequest.signerEmail}}</td>
                    </tr>
                    <tr>
                        <th style="text-align:left">Time Executed:</th>
                        <td>{{signatureRequest.allSignaturesConfirmedAt | date : 'short'}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <br/><br/><br/>
</div>
<div class="panel-body" ng-show="loaded && !loadFailed && !signatureRequest.allSignaturesConfirmedAt">
    <div style="text-align:center">
        <h1 class="text-primary">
            Secure E-Sign: {{document.displayName}}
        </h1>
        Setup &amp; sign your document by following the instructions.
    </div>

    <form name="signatureSetup" ng-submit="giveConsent()">
        <hr />
        <h3 ng-class="{'text-success':consentGiven,'text-info':!consentGiven}">
            <span ng-show="consentGiven" class="glyphicons glyphicons-ok-2"></span>
            <span>1. Give Consent</span>
        </h3>
        <div collapse="consentGiven">
            <p>
                To continue, you must agree to do business electronically with {{requester.firstName}} {{requester.lastName}} and agree to the <a href="/Static/Legal/terms-of-service.htm" target="_blank">Divine Real Estate Solutions Terms &amp; Conditions</a>.
            </p>

            <p><a style="cursor:pointer" ng-click="showDisclosure = !showDisclosure" ng-show="!showDisclosure">Click to view Consumer Disclosure</a></p>
            <p><a style="cursor:pointer" ng-click="showDisclosure = !showDisclosure" ng-show="showDisclosure">Click to hide Consumer Disclosure</a></p>

            <div class="well" style="overflow-y:scroll; height:100px; padding:10px;" ng-show="showDisclosure">
                <p><strong>ELECTRONIC RECORD AND SIGNATURE DISCLOSURE</strong></p>

                <p>
                    From time to time, {{ requester.firstName + ' ' + requester.lastName }} (we, us or Company) may be required by law to provide to you certain written notices or disclosures. Described below are the terms and conditions for providing to you such notices and disclosures electronically through the Divine Real Estate Solutions, Inc. (Divine Real Estate Solutions) electronic signing system. Please read the information below carefully and thoroughly, and if you can access this information electronically to your satisfaction and agree to these terms and conditions, please confirm your agreement by clicking the ‘I agree’ button at the bottom of this document.
                </p>

                <strong>Getting paper copies</strong>

                <p>
                    At any time, you may request from us a paper copy of any record provided or made available electronically to you by us. You will have the ability to download and print documents we send to you through the Divine Real Estate Solutions system during and immediately after signing session, and you may access them for a limited period of time (usually 30 days) after such documents are first sent to you. After such time, if you wish for us to send you paper copies of any such documents from our office to you, you will be charged a $0.00 per-page fee. You may request delivery of such paper copies from us by following the procedure described below.
                </p>

                <strong>Withdrawing your consent</strong>

                <p>
                    If you decide to receive notices and disclosures from us electronically, you may at any time change your mind and tell us that thereafter you want to receive required notices and disclosures only in paper format. How you must inform us of your decision to receive future notices and disclosure in paper format and withdraw your consent to receive notices and disclosures electronically is described below.
                </p>

                <strong>Consequences of changing your mind</strong>

                <p>
                    If you elect to receive required notices and disclosures only in paper format, it will slow the speed at which we can complete certain steps in transactions with you and delivering services to you because we will need first to send the required notices or disclosures to you in paper format, and then wait until we receive back from you your acknowledgment of your receipt of such paper notices or disclosures. To indicate to us that you are changing your mind, you must withdraw your consent using the Divine Real Estate Solutions ‘Withdraw Consent’ form on the signing page of a Divine Real Estate Solutions envelope instead of signing it. This will indicate to us that you have withdrawn your consent to receive required notices and disclosures electronically from us and you will no longer be able to use the Divine Real Estate Solutions system to receive required notices and consents electronically from us or to sign electronically documents from us.
                </p>

                <strong>All notices and disclosures will be sent to you electronically</strong>

                <p>
                    Unless you tell us otherwise in accordance with the procedures described herein, we will provide electronically to you through the Divine Real Estate Solutions system all required notices, disclosures, authorizations, acknowledgements, and other documents that are required to be provided or made available to you during the course of our relationship with you. To reduce the chance of you inadvertently not receiving any notice or disclosure, we prefer to provide all of the required notices and disclosures to you by the same method and to the same address that you have given us. Thus, you can receive all the disclosures and notices electronically or in paper format through the paper mail delivery system. If you do not agree with this process, please let us know as described below. Please also see the paragraph immediately above that describes the consequences of your electing not to receive delivery of the notices and disclosures electronically from us.
                </p>

                <strong>How to contact {{ requester.firstName + ' ' + requester.lastName }}</strong>

                <p>
                    You may contact us to let us know of your changes as to how we may contact you electronically, to request paper copies of certain information from us, and to withdraw your prior consent to receive notices and disclosures electronically as follows:
                    To contact us by email send messages to: {{ requester.email }}
                </p>

                <strong>To advise {{ requester.firstName + ' ' + requester.lastName }} of your new e-mail address</strong>

                <p>
                    To let us know of a change in your e-mail address where we should send notices and disclosures electronically to you, you must send an email message to us at {{ requester.email }} and in the body of such request you must state: your previous e-mail address, your new e-mail address.  We do not require any other information from you to change your email address..
                </p>

                <strong>To request paper copies from {{ requester.firstName + ' ' + requester.lastName }}</strong>

                <p>
                    To request delivery from us of paper copies of the notices and disclosures previously provided by us to you electronically, you must send us an e-mail to {{ requester.email }} and in the body of such request you must state your e-mail address, full name, US Postal address, and telephone number. We will bill you for any fees at that time, if any.
                </p>

                <strong>To withdraw your consent with {{ requester.firstName + ' ' + requester.lastName }}</strong>

                <p>
                    To inform us that you no longer want to receive future notices and disclosures in electronic format you may:
                </p>

                <p>
                    i. decline to sign a document from within your Divine Real Estate Solutions session, and on the subsequent page, select the check-box indicating you wish to withdraw your consent, or you may;
                    ii. send us an e-mail to {{ requester.email }} and in the body of such request you must state your e-mail, full name, US Postal Address, and telephone number. We do not need any other information from you to withdraw consent..  The consequences of your withdrawing consent for online documents will be that transactions may take a longer time to process..
                </p>

                <strong>Required hardware and software</strong>

                <p>
                    Operating Systems:	Windows® 2000, Windows® XP, Windows Vista®; Mac OS® X
                    Browsers:	Final release versions of Internet Explorer® 6.0 or above (Windows only); Mozilla Firefox 2.0 or above (Windows and Mac); Safari™ 3.0 or above (Mac only)
                    PDF Reader:	Acrobat® or similar software may be required to view and print PDF files
                    Screen Resolution:	800 x 600 minimum
                    Enabled Security Settings:	Allow per session cookies
                    ** These minimum requirements are subject to change. If these requirements change, you will be asked to re-accept the disclosure. Pre-release (e.g. beta) versions of operating systems and browsers are not supported.
                </p>

                <strong>Acknowledging your access and consent to receive materials electronically</strong>

                <p>
                    To confirm to us that you can access this information electronically, which will be similar to other electronic notices and disclosures that we will provide to you, please verify that you were able to read this electronic disclosure and that you also were able to print on paper or electronically save this page for your future reference and access or that you were able to e-mail this disclosure and consent to an address where you will be able to print on paper or save it for your future reference and access. Further, if you consent to receiving notices and disclosures exclusively in electronic format on the terms and conditions described above, please let us know by clicking the ‘I agree’ button below.
                </p>

                <p>By checking the ‘I agree’ box, I confirm that:</p>

                <p>
                    i. I can access and read this Electronic CONSENT TO ELECTRONIC RECEIPT OF ELECTRONIC RECORD AND SIGNATURE DISCLOSURES document; and
                    ii. I can print on paper the disclosure or save or send the disclosure to a place where I can print it, for future reference and access; and
                </p>

                <p>
                    Until or unless I notify {{ requester.firstName + ' ' + requester.lastName }} as described above, I consent to receive from exclusively through electronic means all notices, disclosures, authorizations, acknowledgements, and other documents that are required to be provided or made available to me by Divine Real Estate Solutions during the course of my relationship with you.
                </p>
            </div>
            <div class="form-group">
                <label for="consent" style="font-size:1em">
                    <input type="checkbox" id="consent" data-ng-model="consent" /> I, <strong>{{signer.firstName}} {{signer.lastName}}</strong> agree to do business electronically with <strong>{{requester.firstName}} {{requester.lastName}}</strong> according to the <a href="/Static/Legal/terms-of-service.htm" target="_blank">Divine Real Estate Solutions Terms &amp; Conditions</a>.
                </label>
            </div>
            <p>
                <button type="submit" class="btn btn-info" ng-disabled="!consent">
                    <span>Agree &amp; Continue</span>
                    <span class="glyphicons glyphicons-right-arrow"></span>
                </button>
            </p>
        </div>
    </form>
    <form name="signatureSetup" ng-submit="adoptSignature()">
        <hr />
        <h3 ng-class="{'text-success':signatureAdopted,'text-info':consentGiven && !signatureAdopted,'text-inactive':!consentGiven}">
            <span ng-show="signatureAdopted" class="glyphicons glyphicons-ok-2"></span>
            <span>2. Adopt Signature</span>
        </h3>
        <div ng-show="consentGiven" collapse="signatureAdopted">
            <p>
                Use the options below to choose your electronic signature.
            </p>

            
            <div class="form-group">
                <label class="control-label" for="signature">Signature:</label>
                <input class="form-control" type="text" id="signature" data-ng-model="mySignature.signatureText" />
            </div>

            <div class="form-group">
                <label class="control-label" for="initials">Initials:</label>
                <input class="form-control" type="text" id="initials" data-ng-model="mySignature.initialsText" />
            </div>
            <div class="form-group">
                <label class="control-label" for="sigStyle">Choose your signature:</label><br />

                <div class="btn-group" dropdown>
                    <button type="button" id="sigStyle" class="btn btn-lg btn-default" dropdown-toggle>
                        <span ng-style="getStyle(getFont(mySignature.signatureFont))">{{mySignature.signatureText}}</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu nav" role="menu">
                        <li ng-repeat="f in fonts"><a data-ng-click="setSignatureFont(f)" style="cursor:pointer;"><span ng-style="getStyle(f)">{{mySignature.signatureText}}</span></a></li>
                    </ul>
                </div>
                <br /><br />
                <label class="control-label" for="sigStyle">Choose your initials:</label><br />
                <div class="btn-group" dropdown>
                    <button type="button" id="sigStyle" class="btn btn-lg btn-default" dropdown-toggle>
                        <span ng-style="getStyle(getFont(mySignature.initialsFont))">{{mySignature.initialsText}}</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu nav" role="menu">
                        <li ng-repeat="f in fonts"><a data-ng-click="setInitialFont(f)" style="cursor:pointer;"><span ng-style="getStyle(f)">{{mySignature.initialsText}}</span></a></li>
                    </ul>
                </div>
            </div>
            <p>
                <button type="submit" class="btn btn-info">
                    <span>Adopt &amp; Continue</span>
                    <span class="glyphicons glyphicons-right-arrow"></span>
                </button>
            </p>
        </div>
    </form>
    <form name="signatureSetup" ng-submit="confirmDocument()">
        <hr />
        <h3 ng-class="{'text-success':documentConfirmed,'text-info':signatureAdopted && !documentConfirmed,'text-inactive':!signatureAdopted}">
            <span ng-show="documentConfirmed" class="glyphicons glyphicons-ok-2"></span>
            <span>3. Sign Document</span>
        </h3>
        <div ng-show="signatureAdopted" collapse="documentConfirmed">
            <p>
                Review the pages below and click "Sign &amp; Date" where applicable. When you're finished, click "Confirm" to finalize your submission.
            </p>
            <div ng-repeat="page in pages">
                <div ng-style="getContainerStyleForPage($index + 1)">
                    <div ng-style="getStyleForPage($index + 1)">
                        <div ng-repeat="position in getSignaturesOnPage($index+1)" ng-style="getSignatureButtonStyle(position, $parent.$index+1)" ng-hide="position.signed">
                            <button style="vertical-align:top" type="button" class="btn btn-xs btn-warning" ng-click="sign(position)">
                                <span class="glyphicons glyphicons-pen"></span>
                                <span>{{position.signatureType == 'Signature' ? 'Sign' : 'Initial'}}</span>
                            </button>
                        </div>
                        <div ng-repeat="position in getSignaturesOnPage($index+1)" ng-style="getChevronStyle(position)" ng-hide="position.signed">
                            <span class="glyphicons glyphicons-chevron-right"></span>
                        </div>

                        <div ng-repeat="position in getSignaturesOnPage($index+1)" ng-style="getSignatureStyle(position)" ng-show="position.signed">
                            <span ng-style="getSignatureTextStyle(position)">{{getSignatureText(position)}}</span>
                        </div>
                        <div ng-repeat="position in getSignaturesOnPage($index+1)" ng-style="getDateStyle(position)" ng-show="position.signed && position.hasDate">
                            <span>{{getSignatureDate(position) | date : 'M-d-yy'}}</span>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
            <p>The form won't be considered signed until you click 'Confirm &amp; Finish'</p>
            <p>
                <button type="submit" class="btn btn-info" ng-disabled="!confirmButtonEnabled()">
                    <span class="glyphicons glyphicons-ok-2"></span>
                    <span>Confirm &amp; Finish</span>
                </button>
                <span style="vertical-align:middle" ng-hide="confirmButtonEnabled()">
                    You must sign all areas before finishing.
                </span>
            </p>
        </div>
    </form>
    <div>
        <hr />
        <h3 ng-class="{'text-info':documentConfirmed,'text-inactive':!documentConfirmed}">
            <span>Next Steps</span>
        </h3>
        <div ng-show="documentConfirmed">
            <p>
                Thanks for signing. You're all finished for now. You will receive an e-mail at <strong>{{signerEmail}}</strong> once the document has been finalized.
            </p>
        </div>
    </div>
</div>