﻿<div class="panel-body" ng-hide="loaded">
    <div style="text-align:center">
        <span class="text-primary glyphicon glyphicon-refresh glyphicon-spin" style="font-size:2em"></span>
        <span class="text-primary" style="font-size:2em">Loading...</span>
        <br/><br/>
    </div>
</div>
<div class="panel-body" ng-show="loaded">
    <div style="text-align:center">
        <h1 class="text-primary">
            {{info.displayName}}
        </h1>
        <p>Last updated at: {{info.lastActionTime | date}}.</p>
        <hr />
        <p>
            <a class="btn btn-success" data-ng-href="{{info.downloadUrl}}">
                <span class="glyphicons glyphicons-disk-save"></span>
                <span>Download Official Copy</span>
            </a>
        </p>
    </div>
    <hr />
    <h2>Preview</h2>
    <iframe data-ng-src="{{loaded ? info.downloadUrl + '?preview=true' : ''}}" frameborder="1" style="width:100%; height:600px;"></iframe>
    <p>
        <strong>Document ID:</strong> {{info.documentID}}
    </p>
</div>