﻿<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
    <head>
        <title>tools.divinity.io</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="~/Content/images/icon.png" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="@Divinity.Common.CacheBuster.Version("~/Content/css/bootstrap.min.css")" rel="stylesheet" />
        <link rel="stylesheet" href="@Divinity.Common.CacheBuster.Version("~/Content/css/main-css.min.css")" rel="stylesheet" />
    </head>
    <body data-ng-app="main" data-ng-controller="RootController" flow-prevent-drop>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="padding-top:6px;" href="#/"><img style="height:32px;" src="~/Content/images/icon-white.png"/></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" ng-show="authentication.isAuth">
                        <li data-ng-class="{active : activeViewPath==='/templates'}"><a href="#/templates">Templates</a></li>
                        @*<li data-ng-class="{active : activeViewPath==='/forms'}"><a href="#/containers">Loose Forms</a></li>*@
                        @*<li data-ng-class="{active : activeViewPath==='/docs'}"><a href="#/receipts">Documents</a></li>*@
                    </ul>
                    <ul class="nav navbar-nav navbar-right" ng-show="authentication.isAuth">
                        <li class="dropdown">
                            <a class="dropdown-toggle" style="cursor:pointer;">{{authentication.userName}} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                @*<li><a href="#/settings">Settings</a></li>*@
                                @*<li class="divider"></li>*@
                                <li><a style="cursor:pointer;" ng-click="logOut()">Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>


        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-lg-8 col-lg-offset-2">
                    <div flash-alert active-class="in alert" class="fade">
                        {{flash.message || '&nbsp;'}}
                    </div>
                </div>
            </div>
            @RenderBody()
        </div>

        <script src="@Divinity.Common.CacheBuster.Version("~/Scripts/third-party.min.js")"></script>
        <script src="@Divinity.Common.CacheBuster.Version("~/Static/App/app-bundle.js")"></script>

    </body>
</html>