﻿<div class="row">
    <div class="col-xs-12">
        <form role="form" ng-submit="login()">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Tools Login</h4>
                    <span>Enter your credentials below.</span>
                </div>
                <div class="panel-body">
                    <div class="row row-padded">
                        <div class="col-xs-12">
                            <input type="email" placeholder="Email Address" data-ng-model="loginData.userName" required autofocus>
                        </div>
                    </div>
                    <div class="row row-padded">
                        <div class="col-xs-12">
                            <input type="password" placeholder="Password" data-ng-model="loginData.password" required>
                        </div>
                    </div>
                    <div class="row row-padded">
                        <div class="col-xs-12">
                            <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-log-in" ng-hide="loggingOn"></span><span class="glyphicon glyphicon-cog glyphicon-spin" ng-show="loggingOn"></span> Login</button>
                        </div>
                    </div>
                    
                    <div data-ng-hide="message == ''" class="alert alert-danger">
                        {{message}}
                    </div>
                </div>
                <div class="panel-footer">Tools admins only.</div>
            </div>
        </form>
    </div>
</div>