﻿
<div class="row"><div class="col-xs-12 col-lg-8 col-lg-offset-2">
    <ol class="breadcrumb">
        <li><a href="#">Tools</a></li>
        <li><a href="#/templates">Templates</a></li>
        <li class="active">New</li>
    </ol>
</div></div>

<div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <form name="dealForm" ng-submit="goNext()">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4>1. Fill in the information below</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="displayName">Display Name</label>
                        <input class="form-control" type="text" name="displayName" id="displayName" data-ng-model="info.displayName" required maxlength="150" />
                    </div>
                    <div class="form-group">
                        <label for="formType">Form Type</label>
                        <select class="form-control" name="formType" id="formType" data-ng-model="info.formType" required>
                            <option>Agreement</option>
                            <option>Addendum</option>
                            <option>Disclosure</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="jurisdiction">Jurisdiction</label>
                        <select class="form-control" name="jurisdiction" id="jurisdiction" data-ng-model="info.jurisdiction" required>
                            <option value="US-FL">Florida</option>
                            <option value="US-FL-NEFAR">Florida - NEFAR</option>
                        </select>
                    </div>
                </div>
                <div class="panel-footer">
                    Up next: PDF upload
                </div>
            </div>

            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-right"></span> Next</button>
            <button type="button" class="btn btn-danger" ng-click="$back()" ng-hide="saving"><span class="glyphicon glyphicon-ban-circle"></span> Cancel</button>
        </form>
    </div>
</div>