﻿
<div class="row"><div class="col-xs-12 col-lg-8 col-lg-offset-2">
    <ol class="breadcrumb">
        <li><a href="#">Tools</a></li>
        <li><a href="#/templates">Templates</a></li>
        <li><a href="#/new-template">New</a></li>
        <li class="active">Upload</li>
    </ol>
</div></div>

<div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4>2. Drag the template in here to finish</h4>
            </div>
            <div class="panel-body">
                <div class="text-center" flow-drop ng-hide="processing" flow-init="flowOptions" style="border: 3px dashed #AAA; background:none" flow-drag-enter="style={border:'3px dashed green'}" flow-drag-leave="style={border:'3px dashed #AAA'}" ng-style="style" flow-files-submitted="$flow.upload()" flow-upload-started="setProcessing()" flow-file-success="uploadComplete($file, $message)">
                    <p></p>
                    <p>
                        Drag PDF file here
                    </p>
                </div>
                <div ng-show="processing">
                    <h4>Please wait while we process this file...</h4>
                    <p>(Larger files may take a while, sit back and relax)</p>
                    <progressbar class="progress-striped active" max="1" value="1" type="success"></progressbar>
                </div>
            </div>
            <div class="panel-footer">
                
            </div>
        </div>
    </div>
</div>