﻿
<div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <ol class="breadcrumb">
            <li><a href="#">Tools</a></li>
            <li><a href="#/templates">Templates</a></li>
            <li><a href="#/templates/{{template.formTemplateID}}">{{template.jurisdiction}} {{template.displayName}}</a></li>
            <li class="active">Fields</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>{{template.displayName}} - Fields</h4>
            </div>
            <div class="panel-body">
                You can view/edit all the fields below.
                <div ng-show="!loaded">
                    <h2 class="text-primary">Loading...</h2>
                    <progressbar class="progress-striped active" max="100" value="percentFieldsLoaded" type="success"></progressbar>
                </div>
            </div>
            
        </div>
        
        <div ng-show="loaded">
            <p>
                <button type="button" class="btn btn-success" data-ng-click="saveWork()"><span class="glyphicon glyphicon-save"></span> Save Progress</button>
            </p>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>PDF Page {{page}} of {{template.pageCount}}</h4>
                    <div ng-click="page = page - 1" ng-show="page > 1" style="cursor:pointer;float:left; width:70px;"><strong><span class="glyphicon glyphicon-chevron-left"></span> PREV</strong></div>
                    <div ng-click="page = page + 1" ng-show="template && page < template.pageCount" style="cursor:pointer;float:right; width:70px;"><strong>NEXT <span class="glyphicon glyphicon-chevron-right"></span></strong></div>
                    <br />

                </div>
                <div class="panel-body">
                    <div class="well well-sm" data-ng-repeat="field in getFieldsOnPage(page)">
                        <p>
                            <div class="form-inline">
                                <button type="button" class="btn btn-primary" data-ng-click="moveFieldUp(page, $index)">
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                </button>
                                <button type="button" class="btn btn-primary" data-ng-click="moveFieldDown(page, $index)">
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </button>
                                <button type="button" class="btn btn-danger" data-ng-click="destroyField(field)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                    <span>Destroy</span>
                                </button>
                            </div>
                        </p>
                        <div class="form-group">
                            <label for="acroname_{{field.acroFieldName}}">PDF Field #{{field.tabOrder + 1}}</label>
                            <input class="form-control" disabled type="text" name="acroname_{{field.acroFieldName}}" id="acroname_{{field.acroFieldName}}" data-ng-model="field.acroFieldName" />
                        </div>
                        <div ng-style="previewInfos[field.formTemplateAcroFieldInfoID].getBorderBoxStyle()">
                            <div ng-style="previewInfos[field.formTemplateAcroFieldInfoID].getContainerStyle()">
                                <img ng-style="previewInfos[field.formTemplateAcroFieldInfoID].getImageStyle()" ng-src="{{previewInfos[field.formTemplateAcroFieldInfoID].src}}" />
                                <div ng-style="previewInfos[field.formTemplateAcroFieldInfoID].getHighlightStyle()">
                                    <strong>{{getFieldMapping(field).sourceFieldName}}</strong>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sourceFieldName_{{field.acroFieldName}}">Link To</label>
                            <select class="form-control" name="sourceFieldName_{{field.acroFieldName}}" id="sourceFieldName_{{field.acroFieldName}}" data-ng-model="getFieldMapping(field).sourceFieldName">
                                <option value="">None</option>
                                <optgroup label="Combos">
                                    <option value="buyernames">Buyers' Names</option>
                                    <option value="sellernames">Sellers' Names</option>
                                </optgroup>
                                <optgroup label="Deal Info">
                                    <option value="displayName">Deal Name</option>
                                    <option value="listingNumber">Listing Number</option>
                                    <option value="property.fullAddress">Full Address (1, 2?, city, county, state, zip)</option>
                                    <option value="property.simpleAddress">Simple Address (1, 2?, city, state, zip)</option>
                                    <option value="property.address1">Address 1</option>
                                    <option value="property.address2">Address 2</option>
                                    <option value="property.address1plus2">Address 1 + Address 2</option>
                                    <option value="property.city">City</option>
                                    <option value="property.county">County</option>
                                    <option value="property.state">State</option>
                                    <option value="property.zipCode">Zip Code</option>
                                    <option value="property.cityCountyStateZip">City, County, State + Zip Code</option>
                                    <option value="property.taxID">Tax ID</option>
                                    <option value="property.legalDescription">Legal Description</option>
                                </optgroup>
                                <optgroup label="Buyer 1">
                                    <option value="buyer1.firstLast">First + Last </option>
                                    <option value="buyer1.lastFirst">Last, First</option>
                                    <option value="buyer1.firstName">First Name</option>
                                    <option value="buyer1.lastName">Last Name</option>
                                    <option value="buyer1.address1">Address 1</option>
                                    <option value="buyer1.address2">Address 2</option>
                                    <option value="buyer1.city">City</option>
                                    <option value="buyer1.state">State</option>
                                    <option value="buyer1.zipCode">Zip Code</option>
                                    <option value="buyer1.email">Email</option>
                                    <option value="buyer1.mobileNumber">Mobile Number</option>
                                    <option value="buyer1.fax">Fax</option>
                                </optgroup>
                                <optgroup label="Buyer 2">
                                    <option value="buyer2.firstLast">First + Last </option>
                                    <option value="buyer2.lastFirst">Last, First</option>
                                    <option value="buyer2.firstName">First Name</option>
                                    <option value="buyer2.lastName">Last Name</option>
                                    <option value="buyer2.address2">Address 2</option>
                                    <option value="buyer2.address2">Address 2</option>
                                    <option value="buyer2.city">City</option>
                                    <option value="buyer2.state">State</option>
                                    <option value="buyer2.zipCode">Zip Code</option>
                                    <option value="buyer2.email">Email</option>
                                    <option value="buyer2.mobileNumber">Mobile Number</option>
                                    <option value="buyer2.fax">Fax</option>
                                </optgroup>
                                <optgroup label="Seller 1">
                                    <option value="seller1.firstLast">First + Last </option>
                                    <option value="seller1.lastFirst">Last, First</option>
                                    <option value="seller1.firstName">First Name</option>
                                    <option value="seller1.lastName">Last Name</option>
                                    <option value="seller1.address1">Address 1</option>
                                    <option value="seller1.address2">Address 2</option>
                                    <option value="seller1.city">City</option>
                                    <option value="seller1.state">State</option>
                                    <option value="seller1.zipCode">Zip Code</option>
                                    <option value="seller1.email">Email</option>
                                    <option value="seller1.mobileNumber">Mobile Number</option>
                                    <option value="seller1.fax">Fax</option>
                                </optgroup>
                                <optgroup label="Seller 2">
                                    <option value="seller2.firstLast">First + Last </option>
                                    <option value="seller2.lastFirst">Last, First</option>
                                    <option value="seller2.firstName">First Name</option>
                                    <option value="seller2.lastName">Last Name</option>
                                    <option value="seller2.address2">Address 2</option>
                                    <option value="seller2.address2">Address 2</option>
                                    <option value="seller2.city">City</option>
                                    <option value="seller2.state">State</option>
                                    <option value="seller2.zipCode">Zip Code</option>
                                    <option value="seller2.email">Email</option>
                                    <option value="seller2.mobileNumber">Mobile Number</option>
                                    <option value="seller2.fax">Fax</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="title_{{field.acroFieldName}}">HTML Field Title</label>
                            <input class="form-control" type="text" name="title_{{field.acroFieldName}}" id="title_{{field.acroFieldName}}" data-ng-model="field.fieldTitle" />
                        </div>
                        <div class="form-group">
                            <label for="desc_{{field.acroFieldName}}">HTML Field Description</label>
                            <textarea class="form-control" rows="3" name="desc_{{field.acroFieldName}}" id="desc_{{field.acroFieldName}}" data-ng-model="field.fieldDescription"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="inputType_{{field.acroFieldName}}">HTML Input Type</label>
                            <select class="form-control" name="inputType_{{field.acroFieldName}}" id="inputType_{{field.acroFieldName}}" data-ng-model="field.inputType">
                                <option value="select">Multiple Choice</option>
                                <option value="text">Text</option>
                                <option value="textarea">Text (Multi-Line)</option>
                                <option value="checkbox">Yes/No</option>
                            </select>
                        </div>
                        <div class="form-group" data-ng-show="field.inputType == 'select'">
                            <label for="mc_{{field.acroFieldName}}">Input Options</label>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Value</th>
                                        <th style="min-width: 70px;">Sort Order</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="option in field.selectionOptions">

                                        <td>{{option.displayName}}</td>
                                        <td>{{option.selectionValue}}</td>
                                        <td>{{option.sortOrder}}</td>
                                        <td>
                                            <button class="btn btn-sm btn-primary" data-ng-click="destroyOption(field, option)">
                                                <span class="glyphicon glyphicon-trash"></span> Remove
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" type="text" name="displayName" id="displayName" data-ng-model="newOption[field].displayName" /></td>
                                        <td><input class="form-control" type="text" name="selectionValue" id="selectionValue" data-ng-model="newOption[field].selectionValue" /></td>
                                        <td><input class="form-control" type="number" name="sortOrder" id="sortOrder" data-ng-model="newOption[field].sortOrder" /></td>
                                        <td>
                                            <button class="btn btn-sm btn-primary" data-ng-click="addNewOption(field)">
                                                <span class="glyphicon glyphicon-plus-sign"></span> Add
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>