﻿
<div class="row"><div class="col-xs-12 col-lg-8 col-lg-offset-2">
    <ol class="breadcrumb">
        <li><a href="#">Tools</a></li>
        <li class="active">Templates</li>
    </ol>
</div></div>

<div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Templates</h4>
                Manage all templates below
            </div>
            <div class="panel-body">
                <table class="table table-hover" ng-show="templates.length && !loadingTemplates">
                    <thead>
                        <th>#</th>
                        <th>Jurisdiction</th>
                        <th>Name</th>
                        <th>Type</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="template in templates" data-ng-click="go('/templates/' + template.formTemplateID);" style="cursor:pointer">
                            <th>{{$index + 1}}</th>
                            <td style="vertical-align:middle">{{template.jurisdiction}}</td>
                            <td style="vertical-align:middle">{{template.displayName}}</td>
                            <td>{{template.formType}}</td>
                        </tr>
                    </tbody>
                </table>
                <p ng-hide="templates.length || loadingTemplates">
                    No templates. Click 'New Template' to add one.
                </p>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-sm btn-success" data-ng-click="go('/new-template')">
                    <span class="glyphicon glyphicon-plus"></span>
                    New Template
                </button>
                <span ng-show="loadingTemplates">
                    <span class="glyphicon glyphicon-refresh glyphicon-spin"></span> Please wait...
                </span>
            </div>
        
        </div>
    </div>
</div>