﻿
<div class="row"><div class="col-xs-12 col-lg-8 col-lg-offset-2">
    <ol class="breadcrumb">
        <li><a href="#">Tools</a></li>
        <li><a href="#/templates">Templates</a></li>
        <li><a href="#/templates/{{template.formTemplateID}}">{{template.jurisdiction}} {{template.displayName}}</a></li>
        <li class="active">Fields</li>
    </ol>
</div></div>

<div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>{{template.displayName}} - Signatures</h4>
            </div>
            <div class="panel-body">
                <p>Add/edit signatures below. Click 'Save' when finished.</p>
                <p>
                    <button type="button" class="btn btn-xs btn-success" data-ng-click="save()">
                        <span class="glyphicon glyphicon-save"></span>
                        <span>Save</span>
                    </button>
                </p>
            </div>
        </div>
        <div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>PDF Page {{page}} of {{template.document.pages.length}}</h4>
                    <div ng-click="page = page - 1" ng-show="page > 1" style="cursor:pointer;float:left; width:70px;"><strong><span class="glyphicon glyphicon-chevron-left"></span> PREV</strong></div>
                    <div ng-click="page = page + 1" ng-show="template && page < template.document.pages.length" style="cursor:pointer;float:right; width:70px;"><strong>NEXT <span class="glyphicon glyphicon-chevron-right"></span></strong></div>
                    <br />
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tr class="warning">
                        <td>
                            <button type="button" class="btn btn-xs btn-success" data-ng-click="addSignatureField()">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span>Add Signature</span>
                            </button>
                            <button ng-show="selectedSigID" ng-confirm-click="Are you sure?" type="button" class="btn btn-xs btn-danger" data-ng-click="trashSelectedSignature()">
                                <span class="glyphicon glyphicon-trash"></span>
                                <span>Delete Signature</span>
                            </button>
                        </td>
                    </tr>
                </table>
                <table class="table" ng-show="selectedSig">
                    <thead>
                        <tr>
                            <th>Selected Field</th>
                            <th>Role</th>
                            <th>Date Field</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="sig in template.document.signatureFields" ng-show="selected(sig)" class="success">
                            <td>
                                <select name="signatureType" id="signatureType" data-ng-model="sig.signatureType" ng-options="st.name as st.name for st in signatureTypes"></select>
                            </td>
                            <td>
                                <select name="roleName" id="roleName" data-ng-model="sig.roleName" ng-options="role.roleName as role.roleName for role in roles"></select>
                            </td>
                            <td>
                                <span ng-show="sig.hasDate">
                                    <strong>Yes</strong>
                                    <button type="button" class="btn btn-xs btn-danger" data-ng-click="removeSignatureDate(sig)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                        <span>Trash</span>
                                    </button>
                                </span>
                                <span ng-hide="sig.hasDate">
                                    <strong>No</strong>
                                    <button type="button" class="btn btn-xs btn-success" data-ng-click="addSignatureDate(sig)">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        <span>Add</span>
                                    </button>
                                </span>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="panel-body">
                    <div ng-style="getPageContainerDivStyle(page)">
                        <div ng-style="getPageImageDivStyle(page)">
                            <div ng-repeat="sig in getSigsForPage(page)" signature-box id="{{sig.SignatureInfoID}}" ng-style="getSignatureBoxStyle(sig)" ng-mousedown="select(sig)">
                                <span ng-show="sig.signatureType == 'Signature'">{{sig.roleName}} {{sig.signatureType}}</span>
                                <span ng-show="sig.signatureType == 'Initials'">{{sig.roleName.substring(0,1)}}{{sig.roleName.substring(sig.roleName.indexOf(' ') + 1,sig.roleName.indexOf(' ') + 2)}}</span>
                            </div>
                            <div ng-repeat="sig in getSigsForPage(page)" date-box ng-show="sig.hasDate" id="{{sig.SignatureInfoID}}-date" ng-style="getDateBoxStyle(sig)" ng-mousedown="select(sig)">
                                Date
                            </div>
                        </div>
                        
                    </div>
                </div>
                <table class="table" ng-show="selectedSig">
                    <tbody>
                        <tr ng-repeat="sig in template.document.signatureFields" ng-show="selected(sig)" class="success">
                            <td>
                                <select name="signatureType" id="signatureType" data-ng-model="sig.signatureType" ng-options="st.name as st.name for st in signatureTypes"></select>
                            </td>
                            <td>
                                <select name="roleName" id="roleName" data-ng-model="sig.roleName" ng-options="role.roleName as role.roleName for role in roles"></select>
                            </td>
                            <td>
                                <span ng-show="sig.hasDate">
                                    <strong>Yes</strong>
                                    <button type="button" class="btn btn-xs btn-danger" data-ng-click="removeSignatureDate(sig)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                        <span>Trash</span>
                                    </button>
                                </span>
                                <span ng-hide="sig.hasDate">
                                    <strong>No</strong>
                                    <button type="button" class="btn btn-xs btn-success" data-ng-click="addSignatureDate(sig)">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        <span>Add</span>
                                    </button>
                                </span>

                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Selected Field</th>
                            <th>Role</th>
                            <th>Date Field</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>