﻿
<div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <ol class="breadcrumb">
            <li><a href="#">Tools</a></li>
            <li><a href="#/templates">Templates</a></li>
            <li class="active">{{template.jurisdiction}} {{template.displayName}}</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>{{template.displayName}}</h4>
                <p>{{template.jurisdiction}}: {{template.formType}}</p>
                <p>
                    <label class="btn btn" ng-class="{'btn-success':template.public, 'btn-danger':!template.public}" ng-model="template.public" btn-checkbox-true="false" btn-checkbox-false="true" btn-checkbox data-ng-change="saveTemplate(true)">
                        {{ template.public ? 'PUBLIC' : 'PRIVATE' }}
                    </label>
                </p>
            </div>
            <table class="table table-hover">
                <tbody>
                    <tr data-ng-click="go('/templates/'+template.formTemplateID+'/fields')" style="cursor:pointer;">
                        <td>{{ loadingTemplate ? '(Loading)' : getFieldCount() }} field(s) available.</td>
                    </tr>
                    <tr data-ng-click="go('/templates/'+template.formTemplateID+'/signatures')" style="cursor:pointer;">
                        <td>{{ loadingTemplate ? '(Loading)' : getSignatureCount() }} signatures on the form.</td>
                    </tr>
                    <tr>
                        <td><a href="/api/downloadtemplate/{{template.formTemplateID}}" target="_blank">Download PDF</a></td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-body">
                <div ng-hide="uploadProcessing">
                    <h4>Replace PDF</h4>
                    <p>Drag a new PDF into the box below.</p>
                </div>
                <div class="text-center" flow-drop ng-hide="uploadProcessing" flow-init="flowOptions" style="border: 3px dashed #AAA; background:none" flow-drag-enter="style={border:'3px dashed green'}" flow-drag-leave="style={border:'3px dashed #AAA'}" ng-style="style" flow-files-submitted="$flow.upload()" flow-upload-started="setUploadProcessing()" flow-file-success="uploadComplete($file, $message)">
                    <p></p>
                    <p>
                        Drag PDF file here
                    </p>
                </div>
                <div ng-show="uploadProcessing">
                    <h4>Please wait while we process this file...</h4>
                    <p>Larger files may take a while, sit back and relax</p>
                    <progressbar class="progress-striped active" max="1" value="1" type="success"></progressbar>
                </div>
                <hr />
                <h4>Trash this template</h4>
                <button type="button" class="btn btn-danger btn" ng-click="destroyTemplate()" ng-confirm-click="Are you sure?"><span class="glyphicon glyphicon-trash"></span> Delete</button>


            </div>
            <div class="panel-footer">
                <span class="glyphicon glyphicon-hand-up"></span> Press to view and edit.
            </div>
        </div>
    </div>
</div>