﻿<div class="panel-body">
    <h2 class="text-primary">
        Manage Property
    </h2>
    Changes made here will not affect documents you've already built or sent for signing.
    <hr />

    
    <div class="form-group">
        <label for="p_address1">Address</label>
        <input class="form-control" type="text" name="p_address1" id="Text1" data-ng-model="property.address1" />
    </div>
    <div class="form-group">
        <label for="p_address2">Address 2</label>
        <input class="form-control" type="text" name="p_address2" id="Text2" data-ng-model="property.address2" />
    </div>
    <div class="form-group">
        <label for="p_city">City</label>
        <input class="form-control" type="text" name="p_city" id="Text3" data-ng-model="property.city" />
    </div>
    <div class="form-group">
        <label for="p_county">County</label>
        <input class="form-control" type="text" name="p_county" id="Text4" data-ng-model="property.county" />
    </div>
    <div class="form-group">
        <label for="p_state">State</label>
        <select class="form-control" type="text" name="p_state" id="Select1" data-ng-model="property.state" ng-options="s.abbreviation as s.name for s in usStates"></select>
    </div>
    <div class="form-group">
        <label for="p_zip">Zip Code</label>
        <input class="form-control" type="text" name="p_zip" id="p_zip" data-ng-model="property.zipCode" />
    </div>
    <div class="form-group">
        <label for="p_taxid">Tax ID</label>
        <input class="form-control" type="text" name="p_taxid" id="Text6" data-ng-model="property.taxID" />
    </div>
    <div class="form-group">
        <label for="p_taxid">Legal Description</label>
        <textarea class="form-control" rows="3" name="p_legalDescription" id="p_legalDescription" data-ng-model="property.legalDescription"></textarea>
    </div>

    <button type="submit" class="btn btn-primary" ng-click="saveProperty()">
        <span class="glyphicon glyphicon-save" ng-hide="savingProperty"></span>
        <span class="glyphicon glyphicon-cog glyphicon-spin" ng-show="savingProperty"></span>
        <span>Save</span>
    </button>
    <button type="button" class="btn btn-danger" ng-click="$back()" ng-hide="saving">
        <span class="glyphicon glyphicon-ban-circle"></span>
        <span>Cancel</span>
    </button>
        
</div>