﻿<div class="panel-body">
    <div style="text-align:center">
        <h1 class="text-primary">
            {{deal.displayName}}
        </h1>
        Real Estate <strong>{{deal.transactionType}}</strong> Deal<br />
        {{ deal.property.getAddressLine1() }}<br />
        {{ deal.property.getAddressLine2() }} (<a href="#/deals/{{deal.dealID}}/properties/{{deal.property.propertyID}}">Edit</a>)
    </div>
    <hr />
    <div style="text-align:center">
        <span class="glyphicons glyphicons-hand-up"></span> Press to view and edit.
    </div>
    <hr />
    <h2 class="text-success">Details</h2>

    <span ng-show="deal.transactionStatus === 'Draft'">This deal is a <strong>draft</strong>, so isn't ready to share, yet. Nobody else will be able to see it until you mark it 'Offer', 'Contract', or 'Closed'.<br /><br /></span>
    <span ng-show="deal.transactionStatus === 'Offer'">This deal is in the <strong>offer</strong> stage. Negotations are on!<br /><br /></span>
    <span ng-show="deal.transactionStatus === 'Contract'">This deal is <strong>under contract</strong>. Now is the time to tie up any loose ends before closing.<br /><br /></span>
    <span ng-show="deal.transactionStatus === 'Closed'">This deal is <strong>closed</strong>. <a href="#">Click here</a> to notify your broker and get paid! Dont' forget to attach any final documents/receipts.<br /><br /></span>
    <span ng-show="deal.transactionStatus === 'Archived'">This deal has been <strong>archived</strong>. Don't worry, we'll hang onto it for <strong>7 years</strong> until you don't need it anymore.<br /><br /></span>

    <div class="well well-sm">
        <label for="transactionStatus">Deal Status:</label>
        <div style="margin:0 10px;" class="btn-group" dropdown>

            <button type="button" class="btn btn-xs btn-default" dropdown-toggle data-ng-model="deal.transactionStatus">
                {{deal.transactionStatus}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a style="cursor:pointer;" data-ng-click="saveStatus('Draft')">Draft</a></li>
                <li><a style="cursor:pointer;" data-ng-click="saveStatus('Offer')">Offer</a></li>
                <li><a style="cursor:pointer;" data-ng-click="saveStatus('Contract')">Contract</a></li>
                <li><a style="cursor:pointer;" data-ng-click="saveStatus('Closed')">Closed</a></li>
                <li><a style="cursor:pointer;" data-ng-click="saveStatus('Archived')">Archived</a></li>
            </ul>
        </div>
    </div>
    <hr />
    <h2 class="text-success">People</h2>
    Buyers, sellers, agents, brokers, etc.

    <table class="table table-hover">
        <thead>
        <th>Role</th>
        <th>Name</th>
        </thead>
        <tbody>
            <tr data-ng-repeat="person in deal.people" data-ng-click="go('/deals/'+deal.dealID+'/people/' + person.personID)" style="cursor:pointer;">
                <td>{{person.roleName}}</td>
                <td>{{person.lastName}}, {{person.firstName}}</td>
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-success btn-sm" data-ng-click="go('/deals/'+deal.dealID+'/people/new')">
        <span class="glyphicons glyphicons-plus"></span>
        <span>Add New Person</span>
    </button>
    <hr />
    <h2 class="text-success">Documents</h2>
    Forms &amp; Documents

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Jurisdiction</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="form in deal.forms" data-ng-click="go('/deals/'+deal.dealID+'/forms/' + form.formID)" style="cursor:pointer;" ng-hide="form.documentID">
                <td>{{ form.displayName }}</td>
                <td>{{ form.formType }}</td>
                <td>{{ (form.formTemplate || {jurisdiction:'n/a'}).jurisdiction }}</td>
            </tr>
            <tr data-ng-repeat="doc in deal.documents | filter: validDocument" data-ng-click="go('/deals/'+deal.dealID+'/documents/'+doc.documentID)" style="cursor:pointer">
                <td>{{doc.displayName}}</td>
                <td>Attachment</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div style="margin:0 10px;" class="btn-group" dropdown>

        <button type="button" class="btn btn-xs btn-default" dropdown-toggle>
            <span>Start From Template</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="template in templates">
                <a style="cursor:pointer;" data-ng-click="createFormUsingTemplate(template)">
                    <strong>{{template.jurisdiction}}:</strong> {{template.displayName}}
                </a>
            </li>
        </ul>
    </div>
    <br/><br/>
    <div ng-hide="processing" flow-drop flow-init="flowOptions" style="border:2px dashed #999;" flow-drag-enter="style={border:'2px dashed #0A0'}" flow-drag-leave="style={border:'2px dashed #999'}" ng-style="style" flow-files-submitted="$flow.upload()" flow-upload-started="setProcessing()" flow-file-success="uploadComplete($file, $message)">
        <div class="text-center">
            <p></p>
            <p>Drop Attachment Here</p>
        </div>
    </div>
    <div ng-show="processing">
        <h4>Please wait while we process this file...</h4>
        <p>(Larger files may take a while, sit back and relax)</p>
        <progressbar class="progress-striped active" max="1" value="1" type="success"></progressbar>
    </div>

    

    <!--<div data-ng-repeat="taskList in deal.taskLists">
        <hr />
        <h2 class="text-success">{{taskList.displayName}}</h2>
        Task List

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Due</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="task in taskList.tasks" style="cursor:pointer;">
                    <td>{{task.displayName}}</td>
                    <td>{{task.dueAt | date}}</td>
                </tr>
            </tbody>
        </table>

        <button type="button" class="btn btn-success btn-sm" data-ng-click="addTaskToList(taskList)"><span class="glyphicon glyphicon-plus"></span> Add New Task</button>
    </div>-->
    
</div>
<div class="panel-footer" style="text-align:center">
    <a ng-href="#/deals/{{deal.dealID}}/history">View Deal History</a>
</div>