﻿<div class="panel-body">

    <h2 class="text-success">History - {{deal.displayName}}</h2>
    A log of all actions taken on this deal.
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Action</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="audit in history">
                <td>{{ audit.friendlyMessage }}</td>
                <td>{{ audit.actionTime | date : 'short' }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="panel-footer" style="text-align:center">
    <a ng-href="#/deals/{{deal.dealID}}">Go Back</a>
</div>