﻿<div class="panel-body">
    <div style="text-align:center">
        <h1 class="text-primary">
            Welcome to divinely simple real estate.
        </h1>
        Your deals are all here. Touch or click one to begin working.
    </div>
    <hr />
    <div >
        <button type="button" class="btn btn-sm btn-success" data-ng-click="go('/deals/new')">
            <span class="glyphicons glyphicons-circle-plus"></span>
            <span>Start New Deal</span>
        </button>
        
    </div>
    <div class="row" ng-show="!loadingDeals">
        
        <div class="col-xs-12 form-inline">
            <hr />
            Status:
            <div style="margin:0 10px;" class="btn-group" dropdown>

                <button type="button" class="btn btn-xs btn-default" dropdown-toggle data-ng-model="dealFilter.transactionStatus" ng-disabled="disabled">
                    <span>{{ dealFilter.transactionStatus === '!Archived' ? 'All Active' : dealFilter.transactionStatus }}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a data-ng-click="dealFilter.transactionStatus = '!Archived'">All Active</a></li>
                    <li class="divider"></li>
                    <li><a data-ng-click="dealFilter.transactionStatus = 'Draft'">Draft</a></li>
                    <li><a data-ng-click="dealFilter.transactionStatus = 'Offer'">Offer</a></li>
                    <li><a data-ng-click="dealFilter.transactionStatus = 'Contract'">Contract</a></li>
                    <li><a data-ng-click="dealFilter.transactionStatus = 'Closed'">Closed</a></li>
                    <li class="divider"></li>
                    <li><a data-ng-click="dealFilter.transactionStatus = 'Archived'">Archived</a></li>
                </ul>
            </div>
            Type:
            <div style="margin:0 10px;" class="btn-group" dropdown>
                <button type="button" class="btn btn-xs btn-default" dropdown-toggle data-ng-model="dealFilter.transactionType" ng-disabled="disabled">
                    <span>{{ dealFilter.transactionType || 'Show All' }}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a data-ng-click="dealFilter.transactionType = ''">Show All</a></li>
                    <li class="divider"></li>
                    <li><a data-ng-click="dealFilter.transactionType = 'Purchase/Sale'">Purchase/Sale</a></li>
                    <li><a data-ng-click="dealFilter.transactionType = 'Lease/Rental'">Lease/Rental</a></li>
                </ul>
            </div>
            <input type="text" class="form-control" placeholder="Filter" data-ng-model="fuzzyFilter" aria-label="Filter" />
        </div>
    </div>
    <hr />
    <table class="table table-hover" ng-show="deals.length > 0 && !loadingDeals">
        <thead>
        <th>#</th>
        <th>Name</th>
        <th>Address</th>
        <th>Status</th>
        </thead>
        <tbody>
            <tr ng-repeat="deal in deals | filter: dealFilter | filter: fuzzyFilter" data-ng-click="go('/deals/' + deal.dealID);" style="cursor:pointer">
                <th>{{$index + 1}}</th>
                <td style="vertical-align:middle">{{deal.displayName}}</td>
                <td style="vertical-align:middle">{{deal.properties[0].address1}}</td>
                <td style="vertical-align:middle">{{deal.transactionStatus}}</td>
            </tr>
        </tbody>
    </table>
    <span ng-show="loadingDeals">
        <span class="glyphicon glyphicon-refresh glyphicon-spin"></span> Please wait...
    </span>
    <br/><br/><br/>
</div>

