﻿<div class="panel-body">
    <div style="text-align:center">
        <h1 class="text-primary">
            Let's make a deal!
        </h1>
        We just need a few details to get started.
    </div>
    <hr />
    <form name="dealForm" ng-submit="saveDealInfo()">

        <h2 class="text-success">General</h2>
        We'll refer to your deal by the name you give it here.

        <div class="form-group">
            <label for="displayName">Display Name</label>
            <input class="form-control" type="text" name="displayName" id="displayName" placeholder="ex: 'Old Warehouse, Main St.'" data-ng-model="deal.displayName" style="width:100%;" required />
        </div>
        <div class="form-group">
            <label for="jurisdiction">Jurisdiction</label>
            <select class="form-control" name="jurisdiction" id="jurisdiction" data-ng-model="deal.jurisdiction" required>
                <option value="">Choose a Jurisdiction</option>
                <option value="US-FL">Florida</option>
                <option value="US-FL-NEFAR">Florida - NEFAR</option>
            </select>
        </div>
        <hr />

        <h2 class="text-success">Property</h2>
        We'll fill in the property details on any forms you create with this information.

        <div class="form-group">
            <label for="p_address1">Address</label>
            <input class="form-control" type="text" name="p_address1" id="p_address1" data-ng-model="property.address1" />
        </div>
        <div class="form-group">
            <label for="p_address2">Address 2</label>
            <input class="form-control" type="text" name="p_address2" id="p_address2" data-ng-model="property.address2" />
        </div>
        <div class="form-group">
            <label for="p_city">City</label>
            <input class="form-control" type="text" name="p_city" id="p_city" data-ng-model="property.city" />
        </div>
        <div class="form-group">
            <label for="p_county">County</label>
            <input class="form-control" type="text" name="p_county" id="p_county" data-ng-model="property.county" />
        </div>
        <div class="form-group">
            <label for="p_state">State</label>
            <select class="form-control" type="text" name="p_state" id="p_state" data-ng-model="property.state" ng-options="s.abbreviation as s.name for s in usStates"></select>
        </div>
        <div class="form-group">
            <label for="p_zip">Zip Code</label>
            <input class="form-control" type="text" name="p_zip" id="p_zip" data-ng-model="property.zipCode" />
        </div>
        <div class="form-group">
            <label for="p_taxid">Tax ID</label>
            <input class="form-control" type="text" name="p_taxid" id="p_taxid" data-ng-model="property.taxID" />
        </div>
        <div class="form-group">
            <label for="p_taxid">Legal Description</label>
            <textarea class="form-control" rows="3" name="p_legalDescription" id="p_legalDescription" data-ng-model="property.legalDescription"></textarea>
        </div>

        <button type="submit" class="btn btn-success">
            <span class="glyphicons glyphicons-ok-2" ng-hide="saving"></span>
            <span class="glyphicon glyphicon-cog glyphicon-spin" ng-show="saving"></span>
            <span>Save &amp; Finish</span>
        </button>
        <button type="button" class="btn btn-danger" ng-click="$back()" ng-hide="saving">
            <span class="glyphicons glyphicons-ban"></span>
            <span>Cancel</span>
        </button>
    </form>
</div>