﻿<form name="personForm" ng-submit="savePerson()">
    <div class="panel-body">
        <h2 class="text-primary">
            Add a Person
        </h2>
        Changes made here will not affect documents you've already built or sent for signing.
        <hr />

        <div class="form-group">
            <label for="roleName">What is this person's role in the deal?</label>
            <select class="form-control" name="roleName" id="roleName" data-ng-model="person.roleName" data-ng-options="role.roleName as role.roleName for role in roles" required></select>
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input class="form-control" type="text" name="firstName" id="firstName" data-ng-model="person.firstName" required />
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input class="form-control" type="text" name="lastName" id="lastName" data-ng-model="person.lastName" required />
        </div>
        <div class="form-group">
            <label for="shareDeal" type="checkbox">
                <input id="shareDeal" type="checkbox" data-ng-model="shareDeal" />
                Share the deal with this person
            </label>
        </div>
        <div class="form-group" ng-show="shareDeal">
            <label for="email">Email</label>
            <div class="input-group">
                <div class="input-group-addon">
                    @
                </div>
                <input class="form-control" type="email" name="email" id="email" data-ng-model="person.email" ng-required="shareDeal" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-save" ng-hide="savingPerson"></span>
            <span class="glyphicon glyphicon-cog glyphicon-spin" ng-show="savingPerson"></span>
            <span>Save</span>
        </button>
        <button type="button" class="btn btn-danger" ng-click="$back()" ng-hide="saving">
            <span class="glyphicon glyphicon-ban-circle"></span>
            <span>Cancel</span>
        </button>
    </div>
</form>