﻿<div ng-controller="nefarContractController">
    <div ng-show="savingSection">
        <div style="text-align:center">
            <span class="text-primary glyphicon glyphicon-refresh glyphicon-spin" style="font-size:2em"></span>
            <span class="text-primary" style="font-size:2em">Saving Progress...</span>
        </div>
    </div>
    <div ng-hide="savingSection">
        <div style="text-align:center">
            <a ng-href="{{getFormUri()}}" class="btn btn-primary" data-ng-click="previewForm()">
                <span class="glyphicons glyphicons-binoculars"></span>
                <span>Preview</span>
            </a>
        </div>

        <div ng-show="pageNumber === 1" ng-include="'nefar/contract/sections/buyer-seller.html'"></div>
        <div ng-show="pageNumber === 2" ng-include="'nefar/contract/sections/brokers-agents.html'"></div>
        <div ng-show="pageNumber === 3" ng-include="'nefar/contract/sections/purchase-price.html'"></div>
        <div ng-show="pageNumber === 4" ng-include="'nefar/contract/sections/financing.html'"></div>
        <div ng-show="pageNumber === 5" ng-include="'nefar/contract/sections/title-examination-date-of-closing.html'"></div>
        <div ng-show="pageNumber === 6" ng-include="'nefar/contract/sections/title-evidence.html'"></div>
        <div ng-show="pageNumber === 7" ng-include="'nefar/contract/sections/survey.html'"></div>
        <div ng-show="pageNumber === 8" ng-include="'nefar/contract/sections/buyer-will-pay.html'"></div>
        <div ng-show="pageNumber === 9" ng-include="'nefar/contract/sections/seller-will-pay.html'"></div>
        <div ng-show="pageNumber === 10" ng-include="'nefar/contract/sections/property-disclosure.html'"></div>
        <div ng-show="pageNumber === 11" ng-include="'nefar/contract/sections/possession.html'"></div>
        <div ng-show="pageNumber === 12" ng-include="'nefar/contract/sections/personal-property.html'"></div>
        <div ng-show="pageNumber === 13" ng-include="'nefar/contract/sections/addenda-riders-disclosures.html'"></div>
        <div ng-show="pageNumber === 14" ng-include="'nefar/contract/sections/time-of-acceptance.html'"></div>
            
        <hr />
        <p>
            <button type="button" class="btn btn-success btn" data-ng-click="goPage(pageNumber)">
                <span class="glyphicons glyphicons-ok-2" ng-hide="saving"></span>
                <span class="glyphicon glyphicon-cog glyphicon-spin" ng-show="saving"></span>
                <span>Save Progress</span>
            </button>
            <button type="button" class="btn btn-success btn" ng-click="finish()">
                <span class="glyphicons glyphicons-lock" ng-hide="finishing"></span>
                <span class="glyphicon glyphicon-cog glyphicon-spin" ng-show="finishing"></span>
                <span>Finish</span>
            </button>
            <button type="button" class="btn btn-danger" ng-confirm-click="Are you sure?" data-ng-click="destroyForm()">
                <span class="glyphicons glyphicons-bin" ng-hide="destroying"></span>
                <span class="glyphicon glyphicon-cog glyphicon-spin" ng-show="destroying"></span>
                <span>Trash Form</span>
            </button>
        </p>
    </div>
</div>